[2016-09-12 22:12] olafveerman opened #1 "Disable date guessing on CSV"
On CSV upload, `datapusher` and `messytables` try to guess the data types of each column. The date guessing is very aggressive, turning `00:10` into a proper datetime object with the date of upload: `2016-09-12T00:10:00`.

To prevent this from happening, we should temporarily disable date guessing.

[2016-09-13 11:48] olafveerman opened #2 "Organizations not listed"
The 'My organizations' tab does not show organizations that a user is Editor or Member of. This particular user is Editor of one org:

![image](https://cloud.githubusercontent.com/assets/751330/18472581/5c81ea2c-7986-11e6-92f9-dc5b580ebd22.png)

[2016-09-13 12:15] olafveerman commented on #2
This is a known issue: https://github.com/ckan/ckan/ Pull Request: 2457

[2016-09-13 12:43] olafveerman commented on #2
Keeping this issue open to track the fix in CKAN

[2016-09-16 13:31] yanntanvez opened #3 "Multiple users with same email address"
I have added a new member to an organization I am admin of (RISE) using email invitation and it seems that the we have 2 users with the same email:  sreejithks-9609 and sreejithks-5300.

Ideally we should not allow the multiplication of profiles, and restrict one user per email. What do you think? Is this a technical issue?

Thanks and kind regards,
-Yann

![user issue](https://cloud.githubusercon

[2016-09-16 17:53] olafveerman commented on #3
This is a feature of CKAN: http://docs.ckan.org/en/latest/user-guide.html#registering-and-logging-in, but we could write a plugin to allow each email to be used only once.

[2016-09-19 13:35] yanntanvez opened #4 "Seeing members from organizations"
Some beta users are pointing out being uncomfortable sharing data within an organization without knowing who else pertain to that organization. Can members of an organization see who else is a member of that organization?
Thanks!

[2016-09-19 13:37] yanntanvez commented on #3
Thanks Olaf - not sure I fully understand the pros and cons with allowing or restricting the number of users per email, nor how labor intensive is to implement this plug-in? Let's perhaps discuss further. Thanks!

[2016-09-19 16:16] yanntanvez opened #5 "Feedback mechanism for data quality"
A colored flag or a comment section under each dataset? This was suggested by a beta user as being very useful given the different level of accuracy of open data in developing countries. Is this implementable? And if yes, how difficult / time intensive would that be?
Thanks!

[2016-09-20 17:40] olafveerman commented on #3
At the moment, users can only login with their username. If we'd allow one user per email, they could also log in with their email address.

[2016-09-20 18:43] olafveerman commented on #1
This was solved.

[2016-09-20 18:43] #1 closed

[2016-09-20 19:49] yanntanvez commented on #3
Thanks - let's not change the core code.

[2016-09-20 19:49] #3 closed

[2016-09-20 20:19] olafveerman commented on #2
Fixed, closing this issue.

[2016-09-20 20:19] #2 closed

[2016-10-05 21:48] yanntanvez opened #6 "Country list"
Hi there,

Country list with 3 letters is sub-optimal compared to previous list with full country names.

Nigeria was not part of the list.

Best,
-Yann

[2016-10-05 21:48] yanntanvez opened #7 "automatic detection of format"
Not implemented

[2016-10-05 21:56] olafveerman commented on #7
@yanntanvez
Do you mean auto-detection of the file format when uploading a file? This should work. What format are you trying to upload?

[2016-10-05 22:01] olafveerman commented on #6
The previous country tags were giving errors when adding multiple countries, which is why we started an alternative implementation. The three letter code is not optimal and we'll work on a fix to translate them into the full names toward the user.

In the meantime you can keep tagging. The future fix should automatically update the tags that are currently in the system.
The iso code for Nigeria is

[2016-10-07 20:58] olafveerman opened #8 "Add privacy policy"

[2016-10-07 20:58] olafveerman opened #9 "Add meta"
Include ‘Meta Tag’ on all webpages - using the following sentence: “energydata.info is an innovation from the World Bank Group providing open data and open source analytics for a sustainable energy future.”

[2016-10-07 21:24] olafveerman opened #10 "Add links to footer"
“© Copyright - Energydata.info | About | Terms of Use | Privacy Policy “ with relevant hyperlinks at the bottom of the page

cc @ricardomestre

[2016-10-07 21:25] olafveerman opened #11 "Update terms of use"

[2016-10-07 21:25] olafveerman opened #12 "Change alt text"
Change the Apps Alt Text - when the cursor is over tools from ‘visit tool’ to “Visit India Night Lights Tool” and “Visit Electrification Paths Tool” etc. etc.

[2016-10-07 22:13] olafveerman opened #13 "Remove URL"
From dataset page. Redundant with Go to Resource button

[2016-10-11 20:37] #8 closed

[2016-10-11 20:37] #9 closed

[2016-10-11 20:37] #10 closed

[2016-10-11 20:37] #12 closed

[2016-10-11 20:37] #13 closed

[2016-10-11 20:37] olafveerman commented on #11
Fixed through: 3f0dd22

[2016-10-11 20:37] #11 closed

[2016-10-14 16:20] yanntanvez opened #16 "Preview Excel file"
![image](https://cloud.githubusercontent.com/assets/21108014/19394793/950ffdda-9208-11e6-8b87-07777ba16ab6.png)

[2016-10-14 16:21] yanntanvez commented on #16
![image](https://cloud.githubusercontent.com/assets/21108014/19394820/b2e012c8-9208-11e6-9e50-a969166d39b2.png)

[2016-10-14 16:35] yanntanvez commented on #1
Olaf - Clara re-uploaded the Pakistan data yesterday and is having the same issue. Could we please debug ASAP. This is really problematic and preventing a larger data upload to move forward. Many thanks, Yann

[2016-10-14 16:44] yanntanvez opened #17 "Transmission datasets unavailable when clicking 'go to resource'"
Hi Team,

Could you let me know what is the issue here? Is this a misuse of the platform by Dimitris or a bug?

Ideally, these situations should not happen and if this is a misuse, we should understand how a person that is very proficient in GIS/data cannot use the platform as intended and see if we can prevent this from happening.

Thanks,
-Yann

![image](https://cloud.githubusercontent.com/asset

[2016-10-14 17:02] olafveerman commented on #1
@yanntanvez This is now resolved:

![image](https://cloud.githubusercontent.com/assets/751330/19395972/7f71b440-920e-11e6-8d58-feb06290c08f.png)

[2016-10-14 17:11] olafveerman commented on #17
The uploaded file is an Excel file. I uploaded the same dataset in CSV format and the preview is working properly: https://ifc.ds.io/dataset/mingov-botswana

[2016-10-14 17:21] olafveerman commented on #16
@yanntanvez
The uploaded file is an Excel file. I uploaded the same dataset in CSV format and the preview is working properly: https://ifc.ds.io/dataset/mingov-botswana

[2016-10-14 17:22] olafveerman commented on #17
It seems that Dimitris add a URL to a link on box.com
We'll check what's going on and why the Resource link is not properly formatted.

cc @kamicut

[2016-10-17 07:50] ClaraIV opened #19 "500 Internal Server Error"
I get this error when trying to upload a new resource;

[2016-10-17 11:24] olafveerman commented on #19
@ClaraIV Do you see this behavior consistently, or is it with a particular file?

[2016-10-17 12:40] ClaraIV commented on #19
Not consistenly; take a look at this dataset: https://ifc.ds.io/dataset/malawi-solar-kasungu-measurementdata-esmap
I'm trying to add the last resource (dataset for July) and I can't. I couldn't do it on Friday and I can't do it now.
Right now I'm trying to upload a .tif file to see how that looks on the platform and I get the same error.

[2016-10-17 15:22] olafveerman commented on #19
What's the file size?

[2016-10-17 16:00] olafveerman commented on #19
This was due to the disk size that we're using in staging. We'll be increasing the size in the afternoon.

[2016-10-17 16:00] #19 closed

[2016-10-17 17:31] ClaraIV opened #20 "No Download option for PNG files"
Dear team,

I uploaded a .png file here:
https://ifc.ds.io/dataset/test-pngfile/resource/4977f38d-fd3d-4388-b548-db0f17244aff

and I don't see any download option for this. How can I retrieve if from the platform?

Many thanks,
Clara

[2016-10-17 17:50] olafveerman commented on #20
@ClaraIV
For now, you can click on `Go to Resource` to see and download the PNG

[2016-10-19 13:34] #20 closed

[2016-10-19 15:36] yanntanvez opened #21 "GeoJSON with error to preview"
![image](https://cloud.githubusercontent.com/assets/21108014/19525832/4703c9d2-95f0-11e6-891f-b4e487da4a8d.png)

[2016-10-19 16:01] olafveerman commented on #21
This is a JSON file generated by an ESRI application, and is not a valid GeoJSON. (http://geojson.org/geojson-spec.html)

[2016-10-19 16:01] #21 closed

[2016-10-20 16:10] ClaraIV opened #22 "URL not recognized"
I'm trying to add this URL : http://irena.masdar.ac.ae/?map=1708
as a resource; it seems it's not being recognized.
When I click ""Go To Resource" it takes me to the homepage: https://energydata.info/

The dataset is here: https://energydata.info/dataset/test-datasetirena

Many thanks for your help!

[2016-10-20 16:25] olafveerman commented on #22
Thanks for reporting @ClaraIV . This is the same behavior as reported in #17.
I'll close this issue and we can track the fix against the other.

[2016-10-20 16:25] #22 closed

[2016-10-23 08:17] ClaraIV opened #23 "Change Resource ORDER - not working"

[2016-10-24 16:04] olafveerman commented on #23
@ClaraIV
I just tested it and this seems to work for me. Do you see this behavior on a particular dataset?

[2016-10-24 18:43] #17 closed

[2016-11-01 10:55] ClaraIV commented on #23
I tried it here: https://energydata.info/dataset/resources/test-datasetirena

[2016-11-01 10:57] ClaraIV opened #28 "Embed function for maps - unable to copy code"
Please see here: https://energydata.info/dataset/global-solar-stations-wbg-esmap/resource/3d76335d-d744-4e70-8384-f83d0a096422
I want to embed this map on a webpage, but the Embed button opens up a gray window that doesn't let me access any of the fields.

[2016-11-01 12:06] olafveerman commented on #23
@ClaraIV Could you provide some more information, like browser used?

I was able to change the order for that dataset:

![image](https://cloud.githubusercontent.com/assets/751330/19889182/ee9234c2-a009-11e6-9d39-6a9f79eb3b26.png)

![image](https://cloud.githubusercontent.com/assets/751330/19889198/039ac24e-a00a-11e6-8de6-b5e9185ab001.png)

[2016-11-01 12:36] ClaraIV commented on #23
I'm using Google Chrome;

[2016-11-04 16:35] yanntanvez opened #29 "Cleaning up test user accounts, groups, etc."
I believe these were created by DevSeed. Could we please have all test users, groups, etc removed from the platform? Thanks!

![image](https://cloud.githubusercontent.com/assets/21108014/20013879/2fa1b9a0-a28b-11e6-8732-0fc687c51127.png)

[2016-11-04 16:37] yanntanvez opened #30 "Protected areas not being vizualized"
![image](https://cloud.githubusercontent.com/assets/21108014/20013932/62e499fe-a28b-11e6-8671-21378bc121b9.png)

[2016-11-04 16:38] yanntanvez opened #31 "GeoJson not previewing like expected"
![image](https://cloud.githubusercontent.com/assets/21108014/20013998/a1444708-a28b-11e6-9f93-3f34ebba0550.png)

[2016-11-10 16:07] yanntanvez opened #32 "Preview of CSV dataset retunring error"
![image](https://cloud.githubusercontent.com/assets/21108014/20184170/c23abf7e-a735-11e6-92a1-ec89d34240a6.png)

[2016-11-11 13:47] olafveerman opened #33 "API upload 409"
@ClaraIV reported a 409 when trying to create a dataset through the API.

Ticketing here to track.

[2016-11-11 13:53] olafveerman commented on #29
These were created during the review process by OIS. I just cleaned everything.

[2016-11-11 13:53] #29 closed

[2016-11-14 17:37] olafveerman commented on #31
To be previewed, GeoJSON files need to be uploaded in WGS84. If it can't be previewed on a map, the system shows the json in text mode.

I added the GeoJSON with the WHS84 here:
https://energydata.info/dataset/transmission-network-tanzania/resource/db0567dc-0556-4464-85ed-1810cdd95213

[2016-11-14 17:38] olafveerman commented on #7
@yanntanvez Closing this issue. If you still have issues with the automatic detection of the format, please reopen this ticket.

[2016-11-14 17:38] #7 closed

[2016-11-14 17:41] olafveerman commented on #32
@yanntanvez Can you provide a link to this page? Can't find it on the platform.

[2016-11-14 17:55] olafveerman opened #34 "Set up email"
Email should be sent from info@energydata.info

cc @kamicut

[2016-11-14 17:56] yanntanvez commented on #31
Is there a way to have the WGS84 also being vizualized? Or does this mean we need to re-format data that has not been uploaded on WGS84?
Thanks,
-Yann

[2016-11-14 17:57] yanntanvez commented on #32
Cannot find it either - will re-open new ticket if that happens again, thanks!

[2016-11-14 17:57] #32 closed

[2016-11-14 17:57] #16 closed

[2016-11-14 17:58] yanntanvez commented on #6
Let's please keep this issue in my mind with objective to have the full country list available shortly. Thanks!

[2016-11-14 18:04] olafveerman commented on #16
I was about to close this issue as well. :+1:

It seems that other Excel files work well: https://energydata.info/dataset/pakistan-solar-radiation-measurements-hyderabad/resource/b650e341-b502-4edd-bb0c-4c9cf65a9db7

[2016-11-14 19:52] olafveerman commented on #31
Currently there is no way to preview a GeoJSON file that is not in WGS84 or Web Mercator. `tippecanoe` - the underlying library that we use to generate the tiles - only supports [EPSG:4326 (WGS84) and EPSG:3857 (Web mercator)](https://github.com/mapbox/tippecanoe#zoom-levels-and-resolution)

[2016-11-14 22:01] olafveerman commented on #33
@ClaraIV I made [two changes](https://gist.github.com/olafveerman/44be43b7be0182baab807bdb16e052d8) to your script in the `dataset_dict`:

[code]

You can use the `title` field freely, but `name` can only contain lowercase alphanumeric characters and `-` and `_`.
When you create a new dataset, the system will check this field for uniqueness. If there's already a dataset in the system that is named

[2016-11-14 22:01] #33 closed

[2016-11-15 15:03] olafveerman opened #35 "Federate open data site"
Datasets from: http://data.energy-gis.opendata.arcgis.com/ will be pulled into Energy Data.

[2016-11-16 03:23] #28 closed

[2016-11-16 03:27] olafveerman commented on #28
@ClaraIV just wanted to ping you. This was fixed and released to production:

![image](https://cloud.githubusercontent.com/assets/751330/20333749/b8cf7226-ab82-11e6-878b-49852b5a76c9.png)

cc @yanntanvez

[2016-11-16 10:55] ClaraIV opened #39 "Embed function-code not working"
I tried today to embed a map (https://energydata.info/dataset/global-solar-stations-wbg-esmap/resource/3d76335d-d744-4e70-8384-f83d0a096422) and nothing appears on the webpage.

[2016-11-16 11:23] olafveerman commented on #39
@ClaraIV Can you point me to some code that explains how you're embedding the map?

[2016-11-16 12:00] ClaraIV commented on #39
!DOCTYPE html>
<html>
<body>
<p class="rtejustify">The map below shows the locations of <strong>solar and wind measuring stations</strong> that have been installed under the above country projects, or previous initiatives where a partnership agreement exists. The full measurement will be made available for download at the end of October 2016.</p>
		<div>
			<iframe frameborder="0" height="400px" s

[2016-11-16 14:23] olafveerman commented on #39
@ClaraIV
We can confirm this issue. This is caused by one of the security measures we had to take to prevent click-jacking.
We're looking into alternative solutions and post back here.

[2016-11-22 00:22] kamicut commented on #35
@olafveerman I have started work on this. Here's a couple of questions from my tests:

- The datasets need to be pulled into an organization, do I use an existing organization or do I create a new one for the ArcGIS data?
- What is the frequency that we need to poll the ArcGIS server? We can do daily, weekly, monthly

Furthermore, one UX problem when federating is that the GeoJSON resources pulled

[2016-11-22 18:09] olafveerman commented on #35
Pulling in @yanntanvez to answer the two questions.

Let's open another issue for the GeoJSON preview.

[2016-11-22 18:11] olafveerman opened #40 "Preview linked GeoJSON"
From #35

[2016-11-30 16:53] yanntanvez opened #41 "Preview not working on IE"
![image](https://cloud.githubusercontent.com/assets/21108014/20762193/9792328e-b6f3-11e6-80ca-8104f95d09d1.png)

![image](https://cloud.githubusercontent.com/assets/21108014/20762210/a310edd0-b6f3-11e6-9708-c6bdaa0c42bd.png)

[2016-12-05 18:16] #39 closed

[2016-12-05 20:35] kamicut commented on #35
This is deployed, @olafveerman should we close this?

[2016-12-06 02:36] #35 closed

[2016-12-06 16:43] kamicut opened #46 "Search by country - need to show all datasets for the country"
Since the country codes are indexed instead of the country names (#44), searching for the country by name only works if the country name is in the description.

[2016-12-06 18:06] kamicut commented on #6
Closed with #44

[2016-12-06 18:06] #6 closed

[2016-12-06 18:24] olafveerman opened #47 "New function: preview GeoTIFF"
- hosting; and
- preview

[2016-12-06 21:04] kamicut opened #48 "Satellite basemap"
cc @olafveerman

[2016-12-07 00:10] yanntanvez opened #49 "Adding Oliver Knight as platform level admin"
Could you please proceed with doing so?
Thanks in advance!

[2016-12-07 20:21] olafveerman commented on #49
@yanntanvez Done. Let me know if Oliver runs into any issues.

[2016-12-07 20:21] #49 closed

[2016-12-08 03:06] olafveerman opened #50 "Federate OpenEI"
Selective federation of [Open EI](http://en.openei.org/), potentially all the non US datasets.

- investigate technical possibilities to selectively federate (@kamicut)
- determine what datasets to sync, or what criteria to use. (@yanntanvez)

[2016-12-08 03:36] olafveerman opened #51 "Review join/register workflow"
Review and rethink the join / register workflow to:

- provide a primer of the platform and a set of community principles
- explain the benefit of joining as a member / organization

First step is to think through some of the content and how to structure the narrative.

[2016-12-08 03:37] olafveerman opened #52 "Add stripe with main organizations"
Not all, only featured organizations

[2016-12-08 03:37] olafveerman opened #53 "Make featured apps more compact"
So 4 could potentially fit on homepage

[2016-12-08 03:38] olafveerman commented on #48
@yanntanvez will investigate if we need to integrate a basemap in particular

[2016-12-08 03:42] olafveerman opened #54 "Featured map"
Think of a way to integrate a map view with some featured / showcased datasets of the platform. This could be:

1. a curated set of datasets that get featured on a map (forest watch)
2. a layer switcher that provides an alternative way to browse the (geospatial) datasets in the platform (spatial agent)

[2016-12-08 03:43] olafveerman commented on #23
Tested on different platforms and browsers. Seems to be working now. Please reopen if you encounter this again.

[2016-12-08 03:43] #23 closed

[2016-12-08 17:47] yanntanvez commented on #40
@olafveerman @kamicut - Could we please fix this relatively quickly? This is a problem for all of our Uganda datasets.

![image](https://cloud.githubusercontent.com/assets/21108014/21020924/6dfbd9aa-bd44-11e6-8fc8-cfd6ef14e4f0.png)

[2016-12-09 21:17] ojknight opened #55 "SEO work needed"
The site does not seem to appear in search engine results, even if typing in energy, data, world, and bank. Could you check that the right metatags are implemented, and that the site has been submitted to the key search engines for crawling?

[2016-12-10 16:11] ClaraIV opened #56 "Embed function does not limit to map"
I wanted to embed a map in a website and I got the entire Visualization frame from energydata.info, meaning table, graph and map (see attached). Is there no way I can only select the map?
My interest is to have the map embedded in a website and not make the users work to see the map.

![mapembedd](https://cloud.githubusercontent.com/assets/9391517/21074534/4f339c8e-bec9-11e6-9609-2bc94457585d.png)

[2016-12-12 15:11] olafveerman opened #57 "Set up monitoring for counting downloading times for each dataset"

[2016-12-13 15:10] ojknight opened #58 "Add link to Global Solar Atlas app"
Please could we add a third app on the homepage and app page? The link should point to http://globalsolaratlas.info/. You can use the summary description text from the metadata: The Global Solar Atlas provides a summary of solar power potential and solar resources globally. It is provided by the World Bank Group as a free service to governments, developers and the general public, and allows users

[2016-12-13 22:24] kamicut commented on #52
Investigate if we can have a feature key on the organization metadata that allows us to automatically pull it into the front page.

[2016-12-14 02:35] ojknight opened #59 "Implement redirect from old EEX open data URL"
Please could you implement a redirect from the URL http://databox.worldbank.org to https://energydata.info. See email to Olaf for further details.

[2016-12-14 14:11] olafveerman commented on #48
@yanntanvez

Do you have a preference between the light basemap:

![image](https://cloud.githubusercontent.com/assets/751330/21185051/278ac632-c1dd-11e6-8baa-1e6cc5b60af3.png)

or the colored:

![image](https://cloud.githubusercontent.com/assets/751330/21185084/442f9074-c1dd-11e6-91cb-ea6f938988a3.png)

[2016-12-14 18:45] yanntanvez commented on #48
Hi Olaf,

The team and I discussed and we would love to have both if possible, with the white one being the primary and the ability to toggle to the colored one.

Thanks !

[2016-12-15 21:31] olafveerman commented on #53
First approach here: f9e56f4

[2016-12-15 21:33] olafveerman opened #61 "Consistent sizes tool thumbnails"
Make thumbnails of the apps a consistent size.

[2016-12-15 21:38] olafveerman commented on #61
Related to changes made because of #53

[2016-12-16 15:06] yanntanvez commented on #48
Thanks for changing the base map already. I realize that the map we have is not really satellite and thus defeat the purpose of having it in the first place for users to check the validity of GIS datasets.

@olafveerman could we please therefore implement the following relatively quickly:
1. Stick to the initial plan with white map as default and ability to toggle towards the colored one.
2. if ha

[2016-12-16 15:07] yanntanvez commented on #41
@olafveerman please let's work on this. As you know most of WB users use IE and as we launch the app, many colleagues are coming back to me with email asking question, saying the site does not work etc.

Thanks

[2016-12-16 15:08] yanntanvez commented on #40
A gentle reminder. Many thanks!

[2016-12-16 20:00] olafveerman commented on #48
@yanntanvez
We added the white baselayer and will be tackling the layer switcher soon. Work for that will be tracked here: https://github.com/developmentseed/ckanext-mvt/issues/3

[2016-12-20 19:48] #58 closed

[2016-12-20 19:48] #61 closed

[2016-12-21 22:33] olafveerman commented on #53
Apply this only to the frontpage, not the apps page.

[2016-12-21 23:11] #53 closed

[2016-12-22 03:14] olafveerman opened #63 "Add OG + Twitter thumbnail"

[2016-12-22 17:12] #63 closed

[2016-12-22 18:24] olafveerman commented on #40
We just deployed a fix for this issue. External GeoJSON's will now be processed into Vector Tiles and displayed in the browser.

Example of a [GIZ geojson](https://energydata.info/dataset/distribution-substations-2016/resource/ae6cae24-b102-4da5-805c-4a21d8c317db):

![image](https://cloud.githubusercontent.com/assets/751330/21435818/c44affb0-c849-11e6-9428-647977f2b187.png)

This fix does not auto

[2016-12-22 18:24] #40 closed

[2016-12-22 18:28] olafveerman commented on #48
This was implemented and deployed. We can always add extra / other mapbox layers at a later stage.

[2016-12-22 18:28] #48 closed

[2016-12-23 00:28] #31 closed

[2017-01-10 13:56] kamicut commented on #50
As an update here, I've looked at the code in [ckanext-harvest](https://github.com/ckan/ckanext-harvest), the plugin we use for harvesting. There is an option for harvesting on a per CKAN organization basis which we could use.

That might not be sufficient for all criteria, and we might have to fork and modify the harvester to extend the organization filter (extending [this PR](https://github.com/

[2017-01-10 16:22] olafveerman commented on #34
Switch temporarily to the energydata account used for GA

[2017-01-10 16:39] olafveerman commented on #50
A set of curated Open EI datasets will be incorporated manually. Closing this issue.

[2017-01-10 16:39] #50 closed

[2017-01-10 16:41] olafveerman opened #67 "Add Organizations page"
By the end of the week:

- [x] linked from main menu
- [x] optimize layout. bit more space, more space for description
- [x] allow organizations not to be listed (`'list': false`)

[2017-01-10 16:58] olafveerman opened #68 "Emphasize data"
Expose the data more directly. Currently it takes a lot of clicks to be able to preview datasets.
Solution could be related to #54 , or preview one CSV / Geojson on dataset level.

[2017-01-10 17:09] olafveerman opened #69 "Add satellite layer"
as discussed, add:

- previous light layer
- satellite layer

[2017-01-10 17:11] Naigege opened #70 "Cannot preview geojson on chrome or safari browser"
System: macbook OS
Can preview the data on firefox only.

One sample dataset link <https://energydata.info/dataset/kano-electricity-distribution-plc-kedco-mv-lines-2016/resource/1cc8fa80-49ba-4e66-b696-f99843a5f540>

![image](https://cloud.githubusercontent.com/assets/6911487/21816209/4d0f2ec4-d72d-11e6-95d4-8da96e632b95.png)

[2017-01-10 17:19] olafveerman opened #71 "Implement metadata schema"
Harmonize energydata.info metadata schema with development data hub.

Next step:

- get metadata schema @yanntanvez @Naigege

[2017-01-10 17:42] olafveerman opened #72 "Review social media"
Twitter card validator: NOT whitelisted
OG: no image

[2017-01-10 17:43] olafveerman opened #73 "Review meta description and title"
That is included in search, Facebook + Twitter

[2017-01-10 17:53] olafveerman opened #74 "Analytics"
Look into getting stats on:

- downloads
- which apps people browse to

Other things we want to get insight on @Naigege @yanntanvez ?

[2017-01-10 18:10] olafveerman opened #75 "Emphasize datasets on frontpage"
- move up in hierarchy (above App)
- make the list curated and manually updated:
  - 2 geospatial datasets with map preview
  - 1 non-geospatial dataset with a thumbnail as preview

Next step:

- decide which datasets to highlight @Naigege

[2017-01-11 00:17] yanntanvez opened #76 "Reorganizing the Dataset Filtering bar"
Hi Team,

An issue I forgot to raise during the meeting... Could we please re-organize the bar on the left of the dataset section to better fit with our types of data.

This would be in the following order:
1. Countries
2. Organizations
3. Groups
4. Tags
5. Formats
6. Licenses

Many thanks!

![capture - data platform](https://cloud.githubusercontent.com/assets/21108014/21830045/26c52170-d768-11e6-

[2017-01-11 03:20] Naigege commented on #75
@olafveerman
1st geospatial dataset: <https://energydata.info/dataset/ssa-aicd-electricity-transmission-network>

2nd geospatial dataset: <https://energydata.info/dataset/kano-electricity-distribution-plc-kedco-mv-lines-2016>

the non geospatial dataset: <https://energydata.info/dataset/making-power-affordable-for-africa-and-viable-for-its-utilities>
We can use the picture below as preview on fron

[2017-01-11 03:55] Naigege opened #77 "Cannot preview xlsx format dataset"
@olafveerman Upload 3 excel workbook xlsx format files <https://energydata.info/dataset/making-power-affordable-for-africa-and-viable-for-its-utilities>, but cannot be previewed as below:
<img width="956" alt="screenshot 2017-01-10 22 38 52" src="https://cloud.githubusercontent.com/assets/6911487/21835044/e680d828-d787-11e6-9347-2afa268377a0.png">

[2017-01-11 04:23] Naigege commented on #70
This issue may be more about the Mac OS. I could get the preview with chrome on windows machine.

[2017-01-11 16:07] kamicut commented on #70
@Naigege Could you provide the version of Chrome (You can type `chrome://version` in the URL bar to get it) as well as macOS?

It could be a problem with legacy WebGL (the technology we're using to run the preview). I have the latest version of Chrome and Safari and the preview is behaving as expected.

[2017-01-11 18:15] Naigege commented on #70
@kamicut The chrome version: 55.0.2883.95 (Official Build) (64-bit)
MacOS: OS X 10.9.4
Safari version: Version 7.0.5 (9537.77.4)

You are right. The version on my macbook is quite out of date.

[2017-01-12 19:29] Naigege opened #78 "Some data cannot be previewed regardless of browser and machine OS"
@olafveerman @kamicut Please check the examples blow:

https://energydata.info/dataset/distribution-lines-rea-proposed/resource/cd7da900-7bab-496b-ab59-31b168886034

https://energydata.info/dataset/transmission-substations-uetcl-proposed/resource/1ec67a5e-5694-400f-b893-f0d58d060b60

https://energydata.info/dataset/generation-sites-2016-operational/resource/c5fb893a-3fa7-4fb1-9f75-5c7ef3dc0cb2

[2017-01-12 19:37] kamicut commented on #70
@Naigege did updating your browser solve the issue?

[2017-01-12 19:38] kamicut commented on #78
Thanks for reporting, there seems to be a javascript error on that page and I'll look into it.

[2017-01-17 23:56] olafveerman commented on #69
Implemented and deployed. Marking as fixed.

[2017-01-17 23:56] #69 closed

[2017-01-19 21:19] olafveerman commented on #59
This was fixed

[2017-01-19 21:19] #59 closed

[2017-01-19 21:21] olafveerman commented on #73
@Naigege Can you have a look at the title and description we're proposing in: https://github.com/energy-data/energydata.info/pull/80
Let us know if you'd like to see any change.

[2017-01-19 22:22] Naigege commented on #73
@olafveerman it looks good for me. Thanks!

@yanntanvez Is the description OK for you?

ckan.site_url = https://energydata.info
ckan.site_title = Energy Data
ckan.site_description = Open data and analytics for a sustainable energy future. Energy Data is an innovation of the World Bank Group.

[2017-01-19 22:48] olafveerman commented on #77
@kamicut Datapusher doesn't seem to be running.

`$ datacats logs --datapusher`

[code]

[2017-01-23 14:52] yanntanvez commented on #73
Thanks. A detail but let's please keep "energydata.info" instead of "Energy Data" for both title and description, so that it is consistent across platforms and communication messages.
Thanks!

[2017-01-23 21:25] #72 closed

[2017-01-23 21:30] olafveerman commented on #67
Particular organizations can now be excluded from search results and the organization page.
This is achieved by adding the organization id's that need to be ignored to the CKAN config in `.ini`:

`ckanext.theme.exclude_org_list = wbg`

@Naigege Where would you prefer to document this? Should we start using the Wiki functionality of GH?

[2017-01-23 22:23] #78 closed

[2017-01-23 22:44] Naigege commented on #67
@olafveerman Sure. Please use what you think the best to document this. Thanks!

[2017-01-23 22:59] Naigege opened #82 "File upload failure b/c of large size"
@olafveerman @kamicut
I tried to upload one geojson file with size of ~590MB, and I got the error as below. Is there a file size limit on the platform? Is it possible to enlarge the limit?
![image](https://cloud.githubusercontent.com/assets/6911487/22226752/a478a16e-e195-11e6-9800-fd03a38e7c5d.png)

[2017-01-24 02:29] olafveerman commented on #67
The organization page was deployed. Closing this issue until further feedback.
We also started a Wiki to capture the docs: https://github.com/energy-data/energydata.info/wiki/Energy-Data-admin-guide

[2017-01-24 02:29] #67 closed

[2017-01-24 02:36] olafveerman commented on #78
@Naigege This should be resolved. Can you try again and let us know if it still doesn't work.

[2017-01-24 14:51] olafveerman commented on #75
Todo:

- [ ] @ricardomestre is developing the overall structure for this section
- [ ] @DylanMoriarty will take care of map styling for the two datasets

[2017-01-24 19:27] Naigege commented on #78
@olafveerman I try again on a chrome Windows. It is still not working as below:

![image](https://cloud.githubusercontent.com/assets/6911487/22263083/30fd8298-e241-11e6-9016-8b17900b0a4d.png)

[2017-01-24 19:54] Naigege opened #83 "Data API button missing & Preview problem"
@olafveerman
One new dataset ( two csv files and one xlsx file) was uploaded this morning <https://energydata.info/dataset/global-solar-stations-wbg-esmap>. One of the csv file and xlsx file cannot be previewed and no **Data API** button:
![image](https://cloud.githubusercontent.com/assets/6911487/22263987/6c4ba156-e244-11e6-8c7d-c7145e902ffd.png)

But the other csv file looks good:
![image](https

[2017-01-25 18:11] Naigege commented on #82
Today I upload one zip file with 245MB, and it fails.

[2017-01-25 22:14] kamicut opened #84 "devops backlog 1/25"
**Incident:**
An upgrade to the dependent code libraries broke the site around 3:30pm. We're thinking it has to do with setuptools 34.0.

**Resolution:**
We could not resolve the bug in the downtime and switched the production site to a backup from 1/24. Here's a backlog of things that we still need to do:
- [ ] Switch automatic backup snapshotting to using the new machine
- [ ] Tag new snapshots

[2017-01-26 18:59] kamicut commented on #82
@Naigege what do you think the max resource file size should be? I can increase it to 1GB for now.

[2017-01-26 19:05] kamicut commented on #82
I increased the file size now to 1GB, could you try it again?

[2017-01-26 20:02] olafveerman opened #85 "Snapshot management"
Set up Lambda that:

- automatically tags a snapshot with `Project: offgrid`
- removes the nth snapshot in the queue

[2017-01-27 00:39] Naigege opened #86 "File not download, just open another browser tab"
@olafveerman
When I download a GeoJSON file from the platform, it directs me to a webpage as below. Usually, we should expect a file downloaded, not a webpage to visualize the json file. Could you check on it, please? Do not want to confuse the users by the "download" button.

![image](https://cloud.githubusercontent.com/assets/6911487/22356413/31160a2e-e3ff-11e6-9cc7-e1daca126806.png)

[2017-01-30 21:25] carderne opened #88 "Delete draft dataset"
I created a draft dataset: https://energydata.info/dataset/edit/test12312
It doesn't seem possible to delete it via the normal method?

Chris

[2017-01-31 20:18] Naigege commented on #82
@kamicut Could you increase the size to 1.5GB, please? Is it possible?

[2017-01-31 21:26] kamicut commented on #82
@Naigege, we can definitely bump up the size but we have not tried the geospatial processing on this large of a dataset. If you'd prefer, we can make sure the processing will complete if you can provide us with the dataset before trying to upload it. Another strategy would be to chunk the dataset into multiple regions.

[2017-01-31 23:31] Naigege commented on #82
@kamicut please find the geojson data at https://www.dropbox.com/s/3eyu69iiq5nsix2/ZAF_ACQ_DATE.geojson?dl=0

One thing I can do is compress this geojson file to make its size smaller than 1gb. Please let me know what is your opinion.

[2017-02-01 19:21] Naigege opened #90 "New app intergeration - Climatescope"
@olafveerman The new app info displayed on frontpage:
App name: Climatescope
Attribution: Developed by Bloomberg New Energy Finance <https://about.bnef.com/>
Description: Compare conditions for clean energy investment on and off the grid in 58 emerging markets.

Could you deploy it as the same way as “Global Solar Atlas” please? The existing tool link is <http://global-climatescope.org/en/results/

[2017-02-01 19:27] Naigege opened #91 "Reorganize homepage"
@olafveerman
Regarding the app display on front page, I would like to have 3 - 4 most used apps highlighted on the front page, and the rest sit in the app page, but there should be an organized and clean table only showing the rest app’s names and brief description on front page. What do you think?

[2017-02-01 22:20] Naigege commented on #70
@kamicut Not really. Some GeoJSON files are still not previewed well, may be caused by the big data size? But for some very small GeoJSON dataset, preview does not work either: https://energydata.info/dataset/ghana-high-resolution-wind-resource-2003/resource/ce62e1c2-6d2a-46eb-8ab9-b9926ae30d47

Could you check it please? Thanks!

[2017-02-01 23:56] kamicut commented on #70
@Naigege that preview file worked for me on Safari and Chrome. Is the version of Chrome you're running the same as the one linked above? 55.0 ?

[2017-02-02 03:14] Naigege commented on #70
@kamicut I check my chrome, it is the most current version.
<img width="409" alt="screenshot 2017-02-01 22 13 11" src="https://cloud.githubusercontent.com/assets/6911487/22535839/c8fa1b02-e8cb-11e6-9472-f7c4bc6b118d.png">

[2017-02-02 18:17] kamicut commented on #82
@Naigege I tried doing the processing of the file locally and I think the system will be able to handle it if we increase the upload size to allow this file. As a quick check, the data in the file is a grid of polygons covering South Africa.

![](https://kamicut-monosnap.s3.amazonaws.com/localhost30004.83-28.93728.745_2017-02-01_17-57-12.png)

![](https://kamicut-monosnap.s3.amazonaws.com/localhos

[2017-02-02 20:14] Naigege commented on #82
@kamicut Correct! Thanks a lot!

[2017-02-03 16:44] Naigege commented on #70
@kamicut @olafveerman could you please prioritize this geojson preview fix, at least for the following datasets:
https://energydata.info/dataset/liberia-cross-border-systems-clsg-proposed-grid-line/resource/534b3b9b-46d9-4655-9c86-31ca6e82dd00
https://energydata.info/dataset/liberia-maryland-nimba-grandgedeh-existing-grid-line
https://energydata.info/dataset/liberia-existing-grid-monrovia
https://

[2017-02-03 19:15] olafveerman commented on #70
@Naigege
Dataset 1, 2 and 4 are not in the proper projection. Geojson only supports WGS84 with lat/lon in decimal degrees. ([see the spec](https://tools.ietf.org/html/rfc7946#section-4))

What do you see in the case of the third dataset: https://energydata.info/dataset/liberia-existing-grid-monrovia/resource/9cc36728-3f58-45bb-8c63-a43dc7fd3792

[2017-02-03 19:51] Naigege commented on #70
@olafveerman Could you add my account as platform administrator, please? So I can re-download those data, re-save to WGS84 and upload again. Please add me ASAP, so I can fix the projection.

For the 3rd one, I can see the preview on windows system, but not on my personal macbook. But at least, it works on windows system. Thanks a lot!

[2017-02-03 20:21] olafveerman opened #92 "Add platform admins"

[2017-02-03 20:25] olafveerman commented on #92
@Naigege @carderne added as admins.

[2017-02-03 20:25] #92 closed

[2017-02-03 20:52] carderne opened #93 "API access: sharing and retrieving"
1) Is it possible to include data from other sites that expose their data API (but not direct file links)?
2) Can we expose more of our data via API (at the moment only CSVs?)

[2017-02-06 16:29] Naigege commented on #82
@kamicut I can still see the file too large error. Could you confirm the file size limit increase please?

![image](https://cloud.githubusercontent.com/assets/6911487/22655865/84dd2d6e-ec5f-11e6-9e32-ada8f84375b6.png)

[2017-02-06 20:49] kamicut commented on #82
@Naigege I increased it to 2GB just now. Could you check again?

[2017-02-07 17:42] Naigege commented on #82
@kamicut Yup. It is confirmed. Thanks a lot!

[2017-02-07 20:34] Naigege commented on #70
@kamicut when I upload a really big geojson (that is why you help me increase the size limit), the preview seems not working:
![image](https://cloud.githubusercontent.com/assets/6911487/22710282/be83e670-ed4a-11e6-97a4-5014e18355ae.png)

Is this caused by the too large file size? Is it possible to improve it? Thanks!

[2017-02-08 15:53] kamicut commented on #85
Repo started at https://github.com/energy-data/plumbing

[2017-02-08 19:54] olafveerman commented on #91
@Naigege

1. which apps do you want to highlight on the frontpage? With #90, we would have 5
2. do you still want to show the thumbnails for the apps on the frontpage?
3. the layout of the Apps page would remain the same?

[2017-02-08 20:14] #90 closed

[2017-02-08 20:17] #73 closed

[2017-02-08 20:51] olafveerman commented on #88
@carderne
Deleted datasets in CKAN are moved to a Trash where they're not visible to other users.
Admins can empty the trash on the following page: https://energydata.info/ckan-admin/trash

Please try it and let me know if you have any questions.

[2017-02-08 21:04] carderne commented on #88
@olafveerman

I understand that, but I had a draft dataset (not yet published), which I was not able to delete (although I'm sure I could just submit it and then delete it). Not a big issue so please don't prioritize it.

[2017-02-08 21:12] olafveerman commented on #88
Ah, I misunderstood your initial issue. This is a known CKAN issue. You're required to create the dataset and then delete it.

[2017-02-08 21:12] #88 closed

[2017-02-08 21:27] olafveerman commented on #75
This was implemented and deployed.
@Naigege Feel free to re-open if you have questions / comments.

[2017-02-08 21:32] Naigege commented on #75
@olafveerman Thanks! could you correct the size of picture on frontpage, please? It is not shown properly now:

![image](https://cloud.githubusercontent.com/assets/6911487/22758331/3a861910-ee1c-11e6-9e2e-fb047617c4a9.png)

Thanks!

[2017-02-09 16:14] Naigege commented on #75
@olafveerman The preview of emphasized dataset on front page is not viewed properly on the phone (tested on chrome and safari browser):
![image2](https://cloud.githubusercontent.com/assets/6911487/22791910/f02c0922-eeb8-11e6-926b-8ce4fbecadbe.PNG)
![image1](https://cloud.githubusercontent.com/assets/6911487/22791911/f03d94c6-eeb8-11e6-8ff9-0af4a7ef725a.PNG)

[2017-02-09 16:19] ricardomestre commented on #75
@Naigege We've reworked the image to fit nicely within the datasets card layout:

![screen shot 2017-02-09 at 15 51 25](https://cloud.githubusercontent.com/assets/1016701/22791328/e8ab0aea-eee0-11e6-8bc2-88e8122ffedf.png)

For future reference, we are using images with a 16/10 ratio, prepared for retina screen (2x 512x320): **1024x640**.

[2017-02-09 16:27] Naigege commented on #75
@ricardomestre Thanks! I add another preview error on smartphone browsers. Could you check it please?

[2017-02-09 16:42] olafveerman commented on #75
@Naigege Thanks for reporting. Was able to replicate on iPhone, works well on Android.

[2017-02-09 16:50] ricardomestre commented on #75
@Naigege It seems to be working on Android (Chrome). I'm trying to figure out what's going on iOS.

![16667508_10210794688675576_41165711_o](https://cloud.githubusercontent.com/assets/1016701/22793495/e8f563a4-eee7-11e6-959e-ab3eaae5a391.png)

[2017-02-09 18:59] Naigege commented on #75
@ricardomestre Could you double check the image again, please? It is still not fitting well on my windows chrome, mac chrome & firefox. Thanks!
![image](https://cloud.githubusercontent.com/assets/6911487/22798405/e837dfe0-eecf-11e6-85c2-5fba64d37ebe.png)

[2017-02-09 19:09] olafveerman opened #99 "On iOS data is not loading for frontpage maps"
From [other issue](https://github.com/energy-data/energydata.info/issues/75#issuecomment-278689769), the data on the frontpage maps is not loading on iOS.

![image](https://cloud.githubusercontent.com/assets/751330/22798808/5e54f7a2-eed1-11e6-9f5d-ab73c544944a.png)

Same does not happen on Android.

[2017-02-09 19:10] olafveerman commented on #75
@Naigege
Could you do a hard refresh and try again?
Closing this issue. Have opened a separate one for the iOS bug.

[2017-02-09 19:10] #75 closed

[2017-02-09 19:53] Naigege commented on #75
@olafveerman The picture is right now. Thanks!

[2017-02-09 21:05] kamicut commented on #99
@DylanMoriarty by inspecting the web view in iOS safari, I found an error with loading 'fetch'

https://github.com/energy-data/energydata.info/blame/9075549f5e42757d776d01a8c5fee2f63fc902d4/ckanext-offgridtheme/ckanext/offgridtheme/templates/home/index.html#L33

fetch is [not available](http://caniuse.com/#search=fetch) for iOS and needs to be poly filled.

[2017-02-13 22:20] olafveerman commented on #71
@carderne to provide list of fields, indicating:

- if they are mandatory
- type of field (pre-defined taxonomy)

[2017-02-14 19:35] Naigege opened #100 "Upload new dataset or change error"
@olafveerman There is an error page when I try to upload a new datasets or make changes on existing datasets.

![image](https://cloud.githubusercontent.com/assets/6911487/22945609/cf42445c-f2c2-11e6-88ea-4db97ce60645.png)

[2017-02-14 19:40] carderne opened #101 "Changes to available licenses"
Add the [World Bank Open Data Terms of Use](http://data.worldbank.org/summary-terms-of-use) to the list of licenses (near the top if possible).

[2017-02-15 15:34] carderne opened #102 "TimeoutError: QueuePool limit"
I deleted three datasets and got a Server Error on each.

See error message here:
[server error.pdf](https://github.com/energy-data/energydata.info/files/777470/server.error.pdf)

[2017-02-15 15:36] carderne commented on #102
duplicate of #100

[2017-02-15 15:39] Naigege opened #103 "GeoJSON preview error again"
@olafveerman The preview is broken on frontpage and dataset page. Could you have a look at it please? Is it caused by the same issue with #100 #102 ?
![image](https://cloud.githubusercontent.com/assets/6911487/22981619/eb1c2226-f36a-11e6-8001-cc141fc93883.png)
![image](https://cloud.githubusercontent.com/assets/6911487/22981648/f89836c4-f36a-11e6-9e75-6531995fd334.png)

[2017-02-15 15:45] olafveerman commented on #102
@Naigege @carderne Just did a quick reboot of the server, can you check if it works now?

Regardless of whether the reboot fixes the issue, we should investigate the underlying cause. This seems due to a db connection limit: `TimeoutError: QueuePool limit of size 5 overflow 10 reached.`

@kamicut

[2017-02-15 15:45] olafveerman commented on #100
Closing in favor of #102

[2017-02-15 15:45] #100 closed

[2017-02-15 15:49] olafveerman commented on #103
No, this is a different issue. I'll look into it.

[2017-02-15 15:50] olafveerman opened #104 "Custom 502 page"
A friendlier page, indicating that there is an issue + contact option to energy data email.

[2017-02-15 15:51] olafveerman commented on #91
As discussed in coordination meeting:

- reduce featured datasets to first two, side-by-side
- rename apps to latest apps
- keep only first two apps
- add link 'View all apps'

cc @Naigege @carderne

[2017-02-15 16:31] olafveerman commented on #103
The token that was provided previously is not working anymore.

[2017-02-15 17:37] carderne opened #105 "New metadata scheme"
See the updated metedata scheme:
[energydata Metadata_20170215.xlsx](https://github.com/energy-data/energydata.info/files/777879/energydata.Metadata_20170215.xlsx)

A few notes:
1. All of the mandatory fields must be completed to continue (and add a red asterisk or something to indicate)
2. Data Type can default to Geospatial
3. Topics should be a lookup field allowing at least 1, at most 3 topics

[2017-02-15 20:43] Naigege commented on #103
@olafveerman The token is the same, but there is some payment issue between GSD and mapbox. It should be resolved by this Friday latest.

[2017-02-15 20:52] Naigege commented on #103
@olafveerman it is fixed now.

[2017-02-15 20:52] #103 closed

[2017-02-15 21:02] olafveerman commented on #71
From #105 :

[energydata Metadata_20170215.xlsx](https://github.com/energy-data/energydata.info/files/777879/energydata.Metadata_20170215.xlsx)

[2017-02-15 21:03] olafveerman commented on #105
Closing in favor of #71

[2017-02-15 21:03] #105 closed

[2017-02-15 21:05] carderne commented on #71
Sorry, I missed this topic. Please let me know if you want to discuss the metedata scheme, I'm not sure how self explanatory it is.

[2017-02-15 21:08] Naigege commented on #102
@olafveerman it works now. But please also look into the issue to prevent it from happening again. Thanks!

[2017-02-16 21:37] olafveerman commented on #101
@carderne
In the process, should we remove any option from this list? For example: `License not specified` and `Other (Not open)`

[2017-02-16 21:52] carderne commented on #101
I think you can leave it as is, there's no harm in having the options there as a catch-all.

[2017-02-16 22:18] olafveerman commented on #101
@carderne
Once we deploy this, it will read the licenses from another repo: https://github.com/energy-data/energydata-licenses
This should make it easier to maintain the list of available licenses.

[2017-02-17 14:35] carderne commented on #101
Great!

[2017-02-17 20:34] Naigege opened #108 "New app intergeration - RISE"
@olafveerman
App name: RISE
Attribution: World Bank Group http://www.worldbank.org//
Description: Regulatory Indicators for Sustainable Energy (RISE) is a comprehensive policy scorecard assessing the investment climate for sustainable energy in 111 countries.

Could you deploy it as the same way as “Global Solar Atlas” please? The existing app link is http://rise.worldbank.org/

Please let me know

[2017-02-18 00:35] #99 closed

[2017-02-18 00:37] #101 closed

[2017-02-20 16:39] Naigege commented on #83
The preview is OK, but no data API button <https://energydata.info/dataset/global-solar-stations-wbg-esmap/resource/204bb6d1-665c-4b9c-b3fa-3e9beb560316>

https://www.dropbox.com/s/i5wo4e1jhkeid9e/Screenshot%202017-02-20%2011.38.49.png?dl=0

[2017-02-21 00:19] Naigege opened #109 "Download csv & xlsx file name changed"
@olafveerman One platform user uploads the csv and xlsx files to the platform <https://energydata.info/dataset/zambia-wind-measurement-data/resource/5ba046c5-be8b-4f0a-bf93-6ece5eeae754>. But when another user downloads it again from the platform, the file name is changed to a strange name: o03public2projets1.-en-cours1702833-10003564---esmap---zambia22.-rp-and-data-transmittalchankaw.xlsx

The us

[2017-02-21 15:41] Naigege commented on #109
Update from the user: "the platform seems to automatically change the name to the filename path in my computer".

Hope this is useful!

[2017-02-21 15:48] Naigege opened #110 "Cannot download the file - "Resource data not found""
The existing csv file at <https://energydata.info/dataset/vietnam-wind-measurements-giz/resource/cc46c65b-c6b3-42ee-9fff-acbd7685e418> cannot be previewed and downloaded.

<img width="985" alt="screenshot 2017-02-21 10 48 07" src="https://cloud.githubusercontent.com/assets/6911487/23172276/463dc13e-f823-11e6-9991-a0ce46e6e753.png">
<img width="1024" alt="screenshot 2017-02-21 10 48 13" src="https:

[2017-02-22 21:33] Naigege commented on #110
There is another GIZ dataset having the similar download error - <https://energydata.info/dataset/transmission-lines-2016-operational/resource/dbc30e3a-e0b7-416e-b66e-0147f1703128>

It returns the message - {"processingTime":"0 seconds","status":"Failed","error":{"message":"Failed while trying to get item information","code":400,"request":"https://www.arcgis.com/sharing/rest/content/items/ac04d9e3

[2017-02-22 21:57] carderne opened #111 "List data resources as they are added"
How easy would this be?

[2017-02-24 18:38] Naigege commented on #109
@olafveerman could you have a look on it please?

[2017-02-24 18:39] Naigege commented on #108
@olafveerman could you have a look on it please?

[2017-02-24 19:47] olafveerman commented on #109
@Naigege
Could you provide me with the original file? Did they upload this through the API, or through the site?

[2017-02-24 20:15] Naigege commented on #109
@olafveerman One email with all the original files are just sent. They upload through website, from the local laptop.

[2017-02-24 20:29] #108 closed

[2017-02-24 20:49] olafveerman commented on #111
@carderne Do you mean in the order that they are added?

[2017-02-26 15:41] carderne commented on #111
@olafveerman Sorry I should have explained better. While adding resources to a new dataset, it would be nice if they appeared in a list somewhere on _that_ page, so you can keep track of what you have already added. Does that make sense?

[2017-02-26 15:46] carderne opened #114 "Update dataset explorer to show more information"
[To be done after metadata restructure]

Show more metadata when exploring datasets, especially country and year, possibly organization. Thus these won't have to be included in the dataset name, which is clunky.

[2017-02-28 13:48] #91 closed

[2017-02-28 21:10] Naigege opened #117 "GeoJSON preview Issue for Zambia Transmission Networks"
@olafveerman The two GeoJSON are not able to be previewed against base map. It only shows the code. The original files uploaded by partner looks good in QGIS, and projection is right - WGS84.

The datasets link <https://energydata.info/dataset/transmission-network-zambia>

Could you have a look at it ASAP? Thanks!

[2017-02-28 23:10] volands opened #118 "AWS EC2 deployment / Vagrant box image for AWS"
Hello,

first of all thank you very much for this great project.

I currently try to deploy the Vagrant box directly to AWS EC2, with Vagrant AWS provider plugin:
https://github.com/mitchellh/vagrant-aws

Unfortunately I stuck with the following error message:

Because the box image is in "VirtualBox" provider format (output of meta.json):

Therefore my question: Do you provide an AWS compatible V

[2017-03-02 06:45] Naigege opened #119 "GeoJSON preview issue on different browser"
@olafveerman The preview is not working consistently with different browser. It may depends on machine OS and browser version. Could you check more on it and make sure preview can work with different browser please?

One important user has troubles previewing this dataset https://energydata.info/dataset/nepal-electricity-transmission-network-2013/resource/a4415bff-5649-4f77-b125-5daadb9782ca on IE

[2017-03-02 16:14] olafveerman commented on #119
@Naigege Could you upload the screenshot again?

[2017-03-02 16:26] olafveerman commented on #117
@Naigege

The resource was generated with two types of previews:

![image](https://cloud.githubusercontent.com/assets/751330/23516058/17cbd5e8-ff3a-11e6-868b-2dee42d47fec.png)

The default view was set to text. I changed the order of the preview by following these steps on the [resource page](https://energydata.info/dataset/transmission-network-zambia/resource/27010457-a07b-4e68-8e21-bd114cda7c77)

[2017-03-02 16:26] #117 closed

[2017-03-02 16:34] olafveerman commented on #119
@Naigege
It would be helpful to describe what happens. Are they able to see the basemap and nothing else?

Also, it would be great if you have the opportunity to go into the Developer Tools (F12) and check if there are any errors in the console.

[2017-03-02 16:36] Naigege commented on #117
@olafveerman Thanks a lot! I did not notice this feature before.

[2017-03-02 16:48] Naigege commented on #119
@olafveerman I do not have a firefox here. But I will check the laptop with problems later and update with you.

[2017-03-02 18:54] Naigege commented on #119
@olafveerman Firefox does not show the background map, And it has ReferenceError & TypeError as below:
![firefox](https://cloud.githubusercontent.com/assets/6911487/23522118/cdb61c8c-ff4f-11e6-9c37-b55f410b77e9.png)

[2017-03-02 18:59] Naigege commented on #119
@olafveerman Here is what I see on one Mac chrome (with latest version). No background map and with the same TypeError:
<img width="1440" alt="screenshot 2017-03-02 13 57 44" src="https://cloud.githubusercontent.com/assets/6911487/23522286/63fa6cde-ff50-11e6-8604-c5955834b1e2.png">

[2017-03-04 01:18] volands commented on #118
However, I switched to the manuel install proceed (https://github.com/energy-data/energydata.info#deploy-instructions).

From my side this issue can be closed.

Thanks and best regards,
Patrick

[2017-03-04 01:18] #118 closed

[2017-03-04 01:42] volands opened #120 "Initial install problems with newer docker version"
Hi,

I try to install according the manual deployment instructions (https://github.com/energy-data/energydata.info#deploy-instructions). Unfortunately there seems to be problems with newer docker versions, I run:
- Ubuntu LTS 16.04.02
- Docker version 17.03.0-ce, build 60ccb22, API v1.26

There are some "deprecated" binding messages and especially the following error (traceback attached):

[code]

[2017-03-04 15:27] volands commented on #120
https://github.com/datacats/datacats/issues/390

[2017-03-04 15:28] #120 closed

[2017-03-08 15:19] Naigege commented on #119
@kamicut Here is another error in Macbook Safari. Thanks!
<img width="1440" alt="screenshot 2017-03-08 10 17 33" src="https://cloud.githubusercontent.com/assets/6911487/23709798/993c0640-03e8-11e7-890b-7317d565dfcd.png">

[2017-03-08 15:26] olafveerman commented on #110
This dataset is not available on the harvested data portal.

The GIZ harvest job was set up to be manual. We should run this periodically to avoid this situation in the future.

[2017-03-08 16:28] olafveerman commented on #109
Tried to replicate this with @Naigege , but we were not able to.
Closing for now. @Naigege will check with the user and see if it can be replicated.

[2017-03-08 16:28] #109 closed

[2017-03-08 18:21] Naigege commented on #110
The vietnam dataset is uploaded by users.
But Uganda GIZ dataset has error in fetching source - link <https://energydata.info/dataset/transmission-lines-2016-operational/resource/dbc30e3a-e0b7-416e-b66e-0147f1703128>.

[2017-03-09 14:12] olafveerman commented on #71
## New fields

| label | id | description | required | type |
| --- | --- | --- | --- | --- |
| Type | dataType | Identify type of dataset. | true | single select |
| Topics | topic | What does the dataset cover. | true | multi select |
| Region | region | The Bank Regions this dataset applies to. | true | multi select |
| Author | publisher | Author or TTL for datasets | false | text |
| Author e

[2017-03-09 14:14] olafveerman commented on #71
Is this a fair summary @Naigege @carderne ?

cc @davidread

[2017-03-09 18:07] carderne opened #121 "(Minor) Problem if user decides not to add more datasets"
When creating a new dataset. If, after adding a resource, the user clicks 'Save and add another' but then realises there is no more data to add. There doesn't seem to be an easy way to safely complete the process of adding the dataset.

[2017-03-09 20:55] Naigege commented on #71
@olafveerman Thanks! Below are the feedbacks from our side:

1. the existing "Tag" field will be removed and replaced by new "Topics" field.
2. for the new "Topic" filed: we ask user to put at least 1 entry, and at most 3 entries from the list.
3. for new "Region" filed and existing "Country" filed: user has to enter at least one. If "Country" is entered, "Region" will be not mandatory. Vice Versa

[2017-03-09 22:30] Naigege commented on #119
@kamicut Is there any luck on the IE browser issue ?

I used browserstack to check the compatibility on different OS and browsers. On browserstack, the preview works well on Windows 7 & firefox 49. However, it is not working on my desktop (one world bank machine) with same conditions. I am not sure why there is a difference. Below are the screenshots on the desktop:

![image](https://cloud.githubu

[2017-03-13 04:09] Naigege commented on #119
@olafveerman @kamicut

I use browserstack to test different browsers on Windows OS. Below is the results:
<img width="690" alt="screenshot 2017-03-13 00 04 09" src="https://cloud.githubusercontent.com/assets/6911487/23841030/9e2f9072-0780-11e7-800e-b7c1a129553d.png">

In summary,
1. IE cannot run on windows OS whichever
2. even though browserstack shows Firefox 49 works well on Win7. But there are

[2017-03-13 14:20] kamicut commented on #119
Thanks @Naigege that helps us look into the issues and figure out if we can create a fallback visualization.

[2017-03-13 17:33] olafveerman commented on #77
@Naigege
We fixed the underlying Datapusher issue.

If there are tabular datasets that are not behaving as expected, please go to 'Manage' -> 'Datastore'.
If you see an error like the one in the screenshot, hit the 'Upload to Datastore' button:

![image](https://cloud.githubusercontent.com/assets/751330/23866954/c0fd14ba-07f0-11e7-8c3e-28783c65b707.png)

[2017-03-13 17:33] #77 closed

[2017-03-13 17:33] olafveerman commented on #83
Fixed:
![image](https://cloud.githubusercontent.com/assets/751330/23867247/b146a526-07f1-11e7-908d-776ccda49143.png)

[2017-03-13 17:33] #83 closed

[2017-03-13 19:59] Naigege commented on #77
@olafveerman Thanks! I am checking the csv & xlsx files, still see some xlsx preview issues:

1. Africa - The electricity supply system (2016) <https://energydata.info/dataset/africa-the-electicity-supply-system/resource/7c8207ba-8d4d-4c22-88d0-81a8add21a85>. There is a datastore error:
![image](https://cloud.githubusercontent.com/assets/6911487/23872693/a32bf41e-0805-11e7-9654-cf58fcf9cda9.png)

[2017-03-14 00:01] Naigege commented on #83
@olafveerman The excel workbook is still not working even "upload to datastore" works https://energydata.info/dataset/global-solar-stations-wbg-esmap/resource/97e41748-2922-4ee7-a0e5-396eed540d19

![image](https://cloud.githubusercontent.com/assets/6911487/23880087/cc1f6b86-0827-11e7-80e5-06c9302032e3.png)

Thanks for double checking!

[2017-03-14 12:24] davidread commented on #71
@olafveerman (or @Naigege) can you explain this field to me?

Do you mean doing something different with the existing custom fields?
<img width="522" alt="screen shot 2017-03-14 at 12 05 36" src="https://cloud.githubusercontent.com/assets/307612/23899826/9a14b1d2-08ae-11e7-81c5-5a5525251cff.png">

[2017-03-14 12:43] olafveerman commented on #77
@Naigege
Datapusher is built to parse tabular data and does a decent job of detecting headers, guessing field types, and so on. In all of these cases, Datapusher has trouble parsing the file.

1. This file consists of a lot of different sheets, double headers, empty columns, etc
2. This file contains a lot of metadata, merged cells, etc The actual data starts only on row 25
![image](https://cloud.

[2017-03-14 13:05] davidread commented on #71
@olafveerman @Naigege

You've asked for the 'Visibility' field to be removed. I'll simply hide it on the form, since it is needed for ckan's internal operation. But what do you want doing with these four datasets that are marked as private?
[code]

29 datasets have values for maintainer fields, which you've asked to be removed. Do these values need removing or kept?
[code]

The tag field is well u

[2017-03-14 13:12] olafveerman commented on #71
@davidread I removed the private datasets, these are testing artifacts.

I'll let @carderne and @Naigege get back to you on the `maintainer` field.

[2017-03-14 15:40] carderne opened #126 "(Minor) Use email OR username to login"
Currently it seems like you need to know your username to login to the website. It would be great if this could email either username OR email.

The reason is that I sometimes create user profiles for people for new organizations, which creates an automatically generated username that is unlikely to be remembered. Plus I think for a professional website using email for login is pretty standard the

[2017-03-14 15:48] carderne commented on #71
@davidread
`Visibility`
I went to those four datasets and they appear to all be [deleted](https://energydata.info/dataset/distance-to-grid-1k)? Is that CKAN's internal way of deleting datasets? Anyway agree with just hiding the field.

`Maintainer`
Possible to automatically copy these over to `Author` in cases where that is blank? Otherwise I suspect these are mostly just repeats of what is in `Au

[2017-03-14 15:49] carderne commented on #71
@Naigege @davidread

I don't know what this is about.

[2017-03-14 15:52] davidread commented on #71
'Map Projection' field - What's an example value for this? "Mercator"?

I'm wondering whether this is really what you want, because in other metadata catalogues, we've collected the "coordinate reference system" instead, e.g. "WGS84", so that we know on what ellipsoid the lat/long coordinates in the data refer too. I just want to check that's not what you're after here, so do confirm.

[2017-03-14 15:58] carderne commented on #71
@davidread
Good point. I don't know if you've been part of that conversation, but we're trying to maintain some level of compatibility with another WB project, DDH. I somehow missed it before but the key they're using is refSystem, so yes, please drop the `Map Projection` and include a CRS field!

[2017-03-14 16:21] davidread commented on #71
@carderne Thanks for coming back on these so quickly!

`Visibility` - yep that's fine now Olaf deleted them. (And yes, ckan makes them still visible to admins, so that they can be undeleted if necessary.)

`Tags` - great, I'll simply hide them then. The dump of tags for your to help setting topics is here: https://gist.github.com/davidread/f6885b167f6ed5e3206c319c1055c43e

`Map Projection` - perfe

[2017-03-14 17:03] Naigege commented on #71
@davidread @carderne Thanks for these clarification!

Maintainer - Let us use Maintainer and Maintainer's email for Author and Author email in our new metadata, for these datasets you list. Only for the dataset below, let us keep author and author email and abandon maintainer's
small-and-mini-hydropower-potential-in-sub-saharan-africa | Dimitris Mentis | mentis@kth.se              | Alexandros Kor

[2017-03-14 17:20] davidread commented on #71
@Naigege Ok, understood - thanks.

[2017-03-14 18:45] olafveerman commented on #71
@Naigege
We spoke about the 'CKAN metadata integration plugin' referring to the full set of changes that @davidread is currently making. I don't think that requires an extra field.

[2017-03-14 19:20] Naigege commented on #77
@olafveerman Thanks! Is there any other way for us to visualize those kind of excel files?

If not, can we modify the preview error message and let users to download the dataset directly? B/c we cannot control what kind of excel files will be uploaded. Right now, it shows error message like this:
<img width="969" alt="screenshot 2017-03-14 14 53 18" src="https://cloud.githubusercontent.com/assets/

[2017-03-15 05:05] Naigege commented on #110
@olafveerman the GIZ dataset is still not linked. Could you set up the harvestor to check sources more frequently? Thanks!

[2017-03-15 12:07] davidread commented on #71
`Identifying tag` - Is it necessary to have this unique identifier field when we already have the unique name, as used in the URL?
<img width="426" alt="screen shot 2017-03-15 at 12 01 22" src="https://cloud.githubusercontent.com/assets/307612/23947648/8c420b44-0977-11e7-9bf5-8e8966744f52.png">
They are generated from the title automatically and ensured to be unique. However that would be no use t

[2017-03-15 13:31] carderne commented on #71
@davidread
We had a use case from some people we spoke to, that wanted to keep track of a group of datasets in an easy, machine-friendly way. So all datasets related to a specific project (say) could be given the same `Identifying tag` and a computer could easily look that up and harvest all the datasets that match.

If this can be achieved another way, and if you have suggestions for a better/mor

[2017-03-15 13:55] davidread commented on #71
@carderne Thanks, that really helps. How about calling the field "Group"? It could just be a simple text field which I add to the search index so that someone could find all the datasets in a group by searching for `group:"Wind Measurement for Developing Wind Power Plan"` for example.

[2017-03-15 14:05] carderne opened #129 "New user invites"
Related to #126, when I add a new user from the Organization management screen, they receive an email from `ckan.test.devseed@gmail.com`. This doesn't seem very professional and also was blocked by WBG spam catcher.

[2017-03-15 14:32] carderne commented on #71
@davidread Sounds good!

[2017-03-15 16:05] Naigege opened #130 "Do we have a license for our project?"
@olafveerman It seems we do not, should we choose one and update on Github?

[2017-03-16 13:58] olafveerman commented on #34
This is fixed.

[2017-03-16 13:58] #34 closed

[2017-03-16 13:58] olafveerman commented on #129
Dupe of #34, which is now fixed.

[2017-03-16 13:58] #129 closed

[2017-03-16 19:10] olafveerman commented on #119
We were able to track this down to:

1. Fetch needs Promise, which needs to be polyfilled on IE and Safari
2. Lack of mapbox-gl support. We will display a more useful error message if the map can't be previewed

[2017-03-16 21:26] Naigege commented on #110
@olafveerman We will manually check all the dataset, so do need to run harvester for now.

[2017-03-16 21:28] Naigege opened #132 "New user registration auto-reply email"
It seems no such an email for now.

[2017-03-17 01:35] carderne opened #133 "Add country and year to dataset list view"
Inspired from: https://data.humdata.org/dataset?sort=metadata_modified+desc

Ugly example:
![example1](https://cloud.githubusercontent.com/assets/19817302/24025319/0d28d30a-0a90-11e7-9b7c-f538d903c1b8.png)

Problems (and suggestions):
- Multiple countries (and regions)
 -> if <=5 countries, print them
 -> else if >5 countries and region exists, print that
 -> else if no region, print 5 countries a

[2017-03-17 11:47] olafveerman commented on #110
Great, marking this as closed.

[2017-03-17 11:47] #110 closed

[2017-03-17 18:52] olafveerman commented on #132
@Naigege
How are you inviting new users to the platform? If you do it the following way, it should send a welcome message:

1. Go to the organization you want to add a user to
2. 'Manage' > 'Members'
3. Click 'Add member'
4. On that page you can add an existing member, or add a new one by adding its email.

The new user currently gets the following message:

[code]

[2017-03-17 19:07] Naigege commented on #132
@olafveerman If the user is not invited to register on <energydata.info>, the user will not receive any confirmation email. I already tested by creating an account, and I did not see any email sent to me.
Should we use the SMTP server email to do it?
Thanks!

[2017-03-17 19:24] olafveerman commented on #132
@Naigege
Did you test this using the steps I described above?

[2017-03-17 19:39] Naigege commented on #132
@olafveerman Yes. I just tested, it works for invited users. But here I am refering to the other users who are not invited by us, and just want to register an account on our platform. They click on "Register" button on front page, and not receiving any confirmation email after registration.

[2017-03-17 20:07] carderne commented on #71
@davidread @olafveerman
I noticed the 'Group' field is pre-populated? (In the case of the dataset I'm adding now `be8e5286-de7f-4759-9766-8b045e698798`).

Is this necessary? I foresee long strings of text and numbers confusing people that want to use that field.

[2017-03-19 19:34] carderne opened #135 "Error on change resource name"
Trying to change the name of the second resource in this dataset:
https://energydata.info/dataset/mozambique-electricity-transmission-network-2017

I get the following error message:
[server_error.pdf](https://github.com/energy-data/energydata.info/files/853479/server_error.pdf)

[2017-03-20 16:02] carderne commented on #71
@davidread

It doesn't seem to matter which organization I use.
See a print out below:
[error.pdf](https://github.com/energy-data/energydata.info/files/855577/error.pdf)

[2017-03-20 18:20] davidread commented on #71
Ah, got you, it's due to the parameter e.g. https://energydata.info/dataset/new?group=ee7925b8-b034-4a49-96e2-63013c9fcafc

I'll work out a fix

[2017-03-20 19:34] carderne commented on #71
Ok. It's not a big issue, as the user can simply erase it and enter their own Group value. I just think less technically able users will be scared off by a random string of characters in the form...

[2017-03-20 22:04] davidread commented on #71
@carderne I've done a fix for this bug and I'll leave it to @olafveerman to merge and deploy
https://github.com/energy-data/energydata.info/pull/136

[2017-03-21 02:03] carderne opened #137 "CSV preview issue"
This resource: https://energydata.info/dataset/africa-the-electicity-supply-system/resource/8a8c6738-bf1a-43b7-97a1-503abecda580

Sometimes it works, but sometimes I get the message:
"This resource view is not available at the moment. Click here for more information.
Could not load view: DataProxy returned an error (Request Error: Backend did not respond after 10 seconds)"

[2017-03-21 18:40] carderne commented on #135
This happened again while trying to update a resource on this dataset:
https://energydata.info/dataset/small-and-mini-hydropower-potential-in-sub-saharan-africa

[2017-03-21 18:43] carderne commented on #135
And trying to add a resource to the same dataset.

[2017-03-21 19:21] Naigege commented on #132
@olafveerman I am not sure if I explain well on this. Could you set the auto-reply email as below? Please let me know you still have confusion. Thanks!

Email Topic: Welcome to ENERGYDATA.INFO!

Email content:

Welcome and thank you for joining!

ENERGYDATA.INFO is a collaborative open data and analytics platform providing a central location for organizations and individuals to share data and data

[2017-03-21 20:56] Naigege commented on #135
@olafveerman This looks the same issue as #102

[2017-03-21 23:39] olafveerman commented on #71
@carderne T.his was deployed today. Could you test again?

[2017-03-22 13:59] carderne commented on #71
Looks good!

[2017-03-22 17:46] olafveerman commented on #135
@carderne @Naigege
This is related to the recent changes we made to the metadata scheme. The `topic` field is mandatory, but the datasets you reference don't have a `topic` specified. When updating an associated resource, CKAN does checks and throws the - not very useful - error.
Editing the dataset and adding a `topic` should solve it. I added one to the Mozambique network to test. Please check i

[2017-03-22 17:47] olafveerman commented on #135
Closing this.

[2017-03-22 17:47] #135 closed

[2017-03-22 18:03] Naigege commented on #135
@olafveerman Thanks a lot! The topic is right.

[2017-03-23 04:23] Naigege opened #139 "Previously previewed GeoJSON cannot be previewed now"
@olafveerman there are some geojson which can be previewed before, cannot be previewed currently. Is it caused by file size too big? Below are some samples:

https://energydata.info/dataset/myanmar-populated-settlements-data/resource/24be943e-ebd3-41d2-a588-8c3cb1d01a0b

https://energydata.info/dataset/uganda-rivers/resource/ca4e10e2-6ffc-41d2-940b-54dd43f1c0c1

https://energydata.info/dataset/roa

[2017-03-27 18:46] carderne commented on #71
@davidread
(**Wait until after the launch!**)
Add `Global` as an option for `Region`.

[2017-03-28 09:58] davidread commented on #71
@carderne I'm not contracted any further on this - please ask @olafveerman in the first instance

[2017-03-29 16:06] carderne opened #141 "Update front page before launch"
@olafveerman

**Datasets**
Please remove the `Sub-Saharan Africa - Electricity Transmission Network (2007)` from the front page and replace it with this dataset:
https://energydata.info/dataset/eastern-africa-power-pool-renewable-energy-zones-solar-pv

**Apps**
Please add an App thumbnail for the `Africa Electricity Grids Explorer` with the following description:

And put in on the front page in p

[2017-03-29 21:01] #141 closed

[2017-03-30 06:21] Naigege opened #144 "Not urgent & check after launch - revise the google search result"
![image](https://cloud.githubusercontent.com/assets/6911487/24490203/917338e4-14ef-11e7-85a2-15064ac78d5c.png)

[2017-03-31 19:01] #104 closed

[2017-04-03 19:19] ClaraIV opened #148 "CSV file is displayed in a single column"
We have a problem with Excel/CSV files that do not respect the standard format. It seems like there is some data parsing that detects headers and since the first header is composed out of a single column it merges the following columns (next rows) into one column.
Please see here the excel file: https://energydata.info/dataset/pakistan-solar-measurement-wbg-esmap/resource/38350b3c-677e-4fe5-9109-1

[2017-04-10 14:42] Naigege commented on #148
@olafveerman I remember we discussed the excel & csv preview is based on the header row. For example, only the first column will be shown on CKAN for excel workbook below:
<img width="853" alt="screenshot 2017-04-10 10 34 07" src="https://cloud.githubusercontent.com/assets/6911487/24866937/adb39358-1dd9-11e7-9965-faac1a03ea84.png">

Could you help us to check if there is a way to preview the excel

[2017-04-12 17:15] Naigege opened #149 "New App Integration - GTF"
App name: GTF
Attribution: World Bank Group http://www.worldbank.org//
Description: Global Tracking Framework (GTF) provides a global dashboard to register progress on energy access, energy efficiency and renewable energy.

The existing app link is http://gtf.esmap.org/

Please let me know if you need more info. Thanks!

[2017-04-12 20:02] Naigege commented on #149
Please also arrange the app layout and make "RISE" and "GTF" replace the "Electrification Path" and "Climatescope" positions (4th and 5th app), and let "Climatescope" be the last app on the page.

Thanks!

[2017-04-14 01:35] Naigege commented on #114
link to issue #133

[2017-04-14 01:35] Naigege commented on #114
#133

[2017-04-14 12:53] #114 closed

[2017-04-18 17:41] Naigege commented on #102
@olafveerman This issue (or a different issue) happens again. I change the dataset name and edit the URL, save changes (have all mandatory fields) and see the server error page. Later I click on the dataset page, the new name shows up, but "404 not found" as the URL is changed.

If I manually modify the URL to the previous one, the dataset comes up again. If seems the name and URL are changed on t

[2017-04-19 16:30] Naigege commented on #144
Write "about" section to reflect on google search paragraph.

[2017-04-19 16:43] Naigege commented on #102
@olafveerman  Will delete big geojson files to release memory and avoid Timeout error.

[2017-04-20 16:17] carderne commented on #144
See PR #150

Also change the 'title' for the Google result to: `Welcome – ENERGYDATA.INFO`

[2017-04-25 15:24] Naigege opened #151 "Not urgent - download all button"
For the datasets with tens of files, it would be easier to have a "download all" button if the user wants to download all files.

[2017-05-03 07:05] stevenvandervalk opened #152 "git submodule update --init --recursive fails on ckanext-authkey ref"
Hi. Awesome project! Super excited to see a working version of datacats!  Following the initial provisioning instructions immediately ran into

[code]

After `git submodule update --init --recursive` on both `develop` and `master` branches.
Apologies if I missed something obvious.

[2017-05-04 09:40] stevenvandervalk commented on #152
So it seems https://github.com/energy-data/energydata.info/commit/0f76c30ade0f955ec94ec9a6f300a95a3f28f4b5 adds in the breaking change since it refers to @davidread fork.  It seems reverted by altering `.gitmodules` entry for `ckanext-authkey` url value to `url = https://github.com/davidread/ckanext-authkey` and then running the original `git submodule --init --recursive` (in case you didn't do th

[2017-05-04 09:40] #152 closed

[2017-05-04 18:46] kamicut commented on #152
Thanks for opening this issue @stevenvandervalk, the commit `816c8` was referring to a non-merged pull request. I think it should work now.

[2017-05-09 04:13] stevenvandervalk commented on #120
@volands Did you end up solving this or rolling back your docker API version? If so, may I ask how? I'm not sure which `docker-engine` version still supports API `v1.12`?

[2017-05-09 05:43] stevenvandervalk commented on #152
@kamicut thanks, works now from clone.  Also, I tried out the deploy instructions but ran into this issue https://github.com/energy-data/energydata.info/issues/120.  Did you good people pin a certain `docker-engine` version when you deployed to get it to work?

[2017-05-09 13:29] volands commented on #120
In my case I need to clone ```ckanext-authkey``` manually - there seems to be a broken reference (so ```git submodule --init --recursive``` don't include ```ckanext-authkey```).

Furthermore I was successfull with downgrading Docker. With API version >= 1.12 it don't work. For me a downgrade to <= 1.11 results in working ckan/energydata.info project - but there are still some configs to do and the

[2017-05-10 01:58] stevenvandervalk commented on #120
@volands Ya, I ran into the same issue https://github.com/energy-data/energydata.info/issues/152 with fix.

Sweet, thanks for the news!  Which package version of `docker-engine` on Ubuntu did you install to match <= 1.11?  https://docs.docker.com/engine/api/version-history/ wasn't much help so I was just guessing and dealing with https://github.com/moby/moby/issues/23347

[2017-05-10 07:52] stevenvandervalk commented on #120
In case it helps anyone else, `docker-engine` `1.11.0` seems to be a sufficient downgrade on Ubuntu 16.04 against the datacats fork used.  Thanks very much to everyone on this project for the help and with datacats!

[2017-05-10 16:15] #151 closed

[2017-05-10 16:17] #148 closed

[2017-05-10 16:17] #137 closed

[2017-05-10 16:18] #130 closed

[2017-05-10 16:18] #126 closed

[2017-05-10 16:18] #54 closed

[2017-05-10 16:19] #121 closed

[2017-05-10 16:20] #119 closed

[2017-05-10 16:21] Naigege commented on #111
Closed for now, may revisit in the future

[2017-05-10 16:21] #111 closed

[2017-05-10 16:21] #5 closed

[2017-05-10 16:22] #93 closed

[2017-05-10 16:22] #30 closed

[2017-05-10 16:25] carderne commented on #46
This still isn't fixed.

[2017-05-10 16:26] #55 closed

[2017-05-10 16:26] Naigege commented on #76
the new list:

1. Countries
2. Region
3. Topic
4. Organizations
5. Formats
6. Licenses

[2017-05-10 16:27] Naigege commented on #71
@olafveerman  Change published year as mandatory field. Then we are good.

[2017-05-10 16:28] Naigege commented on #70
Good for now. May revisit in future.

[2017-05-10 16:28] #70 closed

[2017-05-10 16:28] #56 closed

[2017-05-10 16:31] #68 closed

[2017-05-10 16:32] #41 closed

[2017-05-10 16:33] #4 closed

[2017-05-10 16:33] carderne opened #153 "Can't delete dataset"
When I click Delete from the Manage window, I get this error:
"Security token error, please try again"

Tried with multiple datasets and accounts.
I can delete using the CKAN API.

[2017-05-25 14:24] olafveerman commented on #76
Add `published year` filter between region and topic.

[2017-05-25 19:15] Naigege opened #155 "New app - Electrification Pathways"
Please integrate & add the electrification model app into <energydata.info> by **July 19**.

The code is saved in <https://github.com/energy-data/nzt-electrification>. And the URL is <http://electrification.energydata.info>.

App name: Electrification Pathways
Attribution: THE WORLD BANK (http://www.worldbank.org/), KTH UNIVERSITY (https://www.kth.se/en) and ESMAP (https://www.esmap.org/).
Descrip

[2017-05-25 21:02] Naigege commented on #144
@olafveerman please note this issue is referring to Google text revision. Thanks!

[2017-05-30 21:14] Naigege commented on #155
please do not bring the electrification tool up until further notice. Sorry for the confusion.

[2017-06-05 17:29] Naigege opened #159 "New App: Myanmar Off-Grid Analytics"
App name: Myanmar Off-Grid Analytics
Attribution: INTEGRATION (www.integration.org) & Reiner Lemoine Institut (www.reiner-lemoine-institut.de)
Description: Visualizes data of the current status of electrification and presents renewable energy potentials to showcase the off-grid investment potential

The existing app link is http://adb-myanmar.integration.org/
Please let me know if you need more in

[2017-06-06 18:48] carderne commented on #153
Has this been fixed?
One of our users is running into this issue.

[2017-06-07 04:24] olafveerman commented on #159
Deployed.

[2017-06-07 04:24] #159 closed

[2017-06-07 04:24] olafveerman commented on #149
Deployed

[2017-06-07 04:24] #149 closed

[2017-06-07 04:24] olafveerman commented on #133
Deployed

[2017-06-07 04:24] #133 closed

[2017-06-07 14:01] carderne commented on #153
This issue applies to resources as well.

[2017-06-07 19:04] Naigege commented on #82
Is the file size limit still 2GB? There is a user having trouble uploading 500MB file.

[2017-06-07 19:30] kamicut commented on #82
@Naigege we've recently (#168) updated the geojson / vector tile processing code to have a configurable limit which we initially set to 500MB. We're trying to find a reasonable average limit which will balance the tile processing resource usage with the server resource usage to minimize downtime.

[2017-06-08 15:51] carderne commented on #153
Tried to upload a dataset through the (Python) API, this is the traceback:

Traceback (most recent call last):
  File "/home/chris/.local/lib/python3.5/site-packages/requests/packages/urllib3/connectionpool.py", line 600, in urlopen
    chunked=chunked)
  File "/home/chris/.local/lib/python3.5/site-packages/requests/packages/urllib3/connectionpool.py", line 356, in _make_request
    conn.request(m

[2017-06-08 20:00] kamicut commented on #153
@carderne could you open another ticket for this upload error issue? A sample of the code you're using to call the endpoint would also help us debug it.

As for dataset/resource delete we're looking into it. We've been able to replicate it on the production site and are looking at what part of the CKAN deployment configuration is creating the CSRF token error.

[2017-06-09 04:15] carderne opened #169 "Issue with uploading large datasets"
Tried to upload a 500 MB geojson file through the (Python) API with this code:

[code]

and received the following error:

[code]

[2017-06-09 04:15] carderne commented on #153
#169

[2017-06-09 19:54] olafveerman commented on #82
I just increased the size limit to 768MB. As @kamicut mentioned, we made this configurable and the trick will be finding a good limit that allows you to upload most files, while preserving resource usage.

This limit only applies to GeoJSON files. Other file types still have the 2GB limit.

cc @Naigege @carderne @JemiTheKey

[2017-06-09 19:55] olafveerman commented on #169
This is due to a new file size limit on geojson files. See #82 for more info.

[2017-06-09 19:55] #169 closed

[2017-06-09 20:14] olafveerman commented on #102
These haven't occurred in quite a while and should be prevented by implementing a file size limit on GeoJSON files. (#82)

[2017-06-09 20:14] #102 closed

[2017-06-09 20:15] olafveerman commented on #52
Homepage was recently redesigned without the org stripe.

[2017-06-09 20:15] #52 closed

[2017-06-09 20:16] olafveerman commented on #76
The bar was reorganized.

[2017-06-09 20:16] #76 closed

[2017-06-09 20:18] olafveerman commented on #144
This was fixed:

![image](https://user-images.githubusercontent.com/751330/26992990-2e6da720-4d2f-11e7-8b6d-a45c0342a1a0.png)

[2017-06-09 20:18] #144 closed

[2017-06-13 15:46] olafveerman opened #171 "Homepage and Dataset counts are off"
The total number of datasets on the hompage differs from the total on the dataset page.

[2017-06-13 16:21] olafveerman opened #173 "Search icon cut on iphone"

[2017-06-13 17:25] #171 closed

[2017-06-13 17:25] #173 closed

[2017-06-15 15:19] Naigege opened #177 "Upload csv & zip file error"
The user try to upload the attached csv file through website to update existing dataset - [Maldives - Solar Radiation Measurement Data (2015 - 2017)](https://energydata.info/dataset/maldives-solar-radiation-measurement-data). The same error happens when the user uploads zip file as well.

We firstly observed too many semicolons in the csv file, but user reports a same structure csv file was upload

[2017-06-15 17:05] olafveerman commented on #177
We ran a couple of tests and it is possible to upload this file to a new package.
It seems that the Maldives dataset doesn't have the published date, which was made mandatory a couple of weeks ago. Could you add the published year to the dataset metadata and try the upload again?

[2017-06-15 17:17] Naigege commented on #177
Thanks Olaf! Will ask the user to upload again. If everything goes well, I will close this issue.

Also, could you add an mandatory symbol for published year?
<img width="557" alt="screenshot 2017-06-15 13 16 43" src="https://user-images.githubusercontent.com/6911487/27193463-e63240ae-51cc-11e7-9e7d-42a2db3cad78.png">

[2017-06-16 21:58] olafveerman commented on #177
@Naigege Yes, we added the asterisk.

[2017-06-16 21:59] olafveerman commented on #153
This was fixed.

[2017-06-16 21:59] #153 closed

[2017-06-16 22:54] Naigege commented on #177
@olafveerman Could you also add the asterisk on the left side, the same style as Title, Description  please?
![image](https://user-images.githubusercontent.com/6911487/27247296-2ad185a0-52c5-11e7-9c3f-a4db6f397893.png)

[2017-06-21 13:29] ClaraIV opened #181 "Reorder resources-not working"
The option to reorder resources in a dataset doesn't seem to be working.

[2017-06-21 14:00] olafveerman commented on #181
@ClaraIV Could you provide more information about what you're experiencing, and what system you're using?
Reordering resources should be working as follows:

![resources-reorder](https://user-images.githubusercontent.com/751330/27388046-587b823e-5668-11e7-8c38-eaca5b46fb07.gif)

[2017-06-21 14:11] ClaraIV commented on #181
Hi Olaf,

Thanks for the video, that's very helpful! My intuition led me to click on the symbol on the left and nothing happens when I do that. But drag&drop on the tab works well.

[2017-06-21 14:33] #181 closed

[2017-06-26 12:43] Naigege opened #182 "Metadata not showing currently"
The metadata is not showing on the dataset page (checked on IE, chrome, safari firefox on laptop & Safari and chrome on iphone). Could you check it ASAP? Is it related to the data webpage re-organized? Because it was good before. Thanks a lot!

![image](https://user-images.githubusercontent.com/6911487/27539678-65e581cc-5a4b-11e7-8041-39dd433dcb88.png)

[2017-06-26 13:49] olafveerman commented on #182
@Naigege This is fixed now. If it doesn't show immediately, please do a hard refresh.

[2017-06-26 13:49] #182 closed

[2017-06-27 21:23] Naigege opened #185 "Region names too long & revise "Region" metadata field"
should use “+x” feature for Region to keep 1 single line for “Countries” “Regions” & “Published Year”. Should we aim to show 2 region name, and use “+x”?  To be safe, perhaps only 1 region name can be shown, or reduce the shown country number.

<img width="689" alt="screenshot 2017-06-27 17 12 37" src="https://user-images.githubusercontent.com/6911487/27610591-f7ac2518-5b5c-11e7-86d5-76f9e3a2cca8.

[2017-07-06 18:55] Naigege commented on #185
@olafveerman Is there a better way to fix this?

[2017-07-11 21:26] Naigege opened #186 "Animation for counting number of dataset, app, organization & countries"
The animation is counting the datasets, app, organization & countries from 0 to current numbers.) The counts should appear with some animation like on HDX website. Please check <https://data.humdata.org/>.

As discussed before, it will take up to 2 hours to create this on the front page.

[2017-07-12 21:50] Naigege commented on #155
@olafveerman please check 2 new pull request.

Please also put the Africa Electricity Grids Explorer & this app on the front page as featured app. Thanks a lot!

[2017-07-17 15:37] Naigege commented on #155
@olafveerman could you also change the app number from 9 to 10 on the home page please? If I can do it, please direct me to the coding repository and I will submit a PR.

Thanks a lot!

[2017-07-17 16:20] olafveerman commented on #155
@Naigege
You can change the app number here: https://github.com/energy-data/energydata.info/blob/develop/ckanext-offgridtheme/ckanext/offgridtheme/templates/home/index.html#L54

[2017-07-17 16:39] Naigege commented on #155
@olafveerman I just submit a PR, please see if it is good. Thanks a lot!

[2017-07-17 16:55] olafveerman commented on #155
Already merged and live. THanks

[2017-07-18 20:22] Naigege commented on #155
@olaf, I need to change the screenshot, and make a small revision on the attribution line. Please see the PR:)

[2017-07-19 06:26] Naigege opened #198 "Please help - set up tracking code for Electrification Pathways"
@olafveerman I am trying to have the new app - Electrification Pathways set up in the Google analytics to track the traffic on it.

I need to set up the tracking code by inserting the code below to each webpage to be tracked. To do this, paste the entire snippet below into the HTML on the web pages, just before the closing </head>tag. I assume it requires some pull requests within <https://github.

[2017-07-19 11:14] olafveerman commented on #155
All PR's merged

[2017-07-19 16:28] Naigege commented on #155
@olafveerman thanks a lot for your instant help, and sorry for the back and forth!

1. I made a small change on the attribution line, and send another PR.
2. I see on the front page, the attribution line is still in the old style as below: there is an "AND" between WORLD BANK GROUP & KTH UNIVERSITY

<img width="470" alt="screenshot 2017-07-19 12 07 26" src="https://user-images.githubusercontent.co

[2017-07-20 13:19] olafveerman commented on #198
Closing. Will be done in other repo.

[2017-07-20 13:19] #198 closed

[2017-07-20 13:21] olafveerman commented on #155
Just made the change on the homepage.
For future reference, the homepage is updated here: https://github.com/energy-data/energydata.info/blob/develop/ckanext-offgridtheme/ckanext/offgridtheme/templates/home/index.html

[2017-07-20 13:21] #155 closed

[2017-07-20 20:48] Naigege commented on #155
@olafveerman thanks a lot!

[2017-09-25 21:10] Naigege commented on #185
I suggest that in the "Region" metadata field, we should have:

1. "Global" as a new option
2. change "Africa" to "Sub-Saharan Africa"

Thanks!

[2017-10-10 05:59] Naigege opened #203 "Connection Security Error"
The site cannot be opened due to a connection security error. Need to find out the error root to avoid happening again.
![connection_security_issue](https://user-images.githubusercontent.com/6911487/31371407-9153dd2a-ad5e-11e7-980e-679def90a21b.jpg)

[2017-10-10 12:39] olafveerman commented on #203
This was due to an expired certificate.
We renewed the cert yesterday and this issue should be resolved now.

[2017-10-10 12:39] #203 closed

[2017-11-07 19:31] Naigege opened #206 "Revert logo to previous design"
Re-include “An innovation of the World Bank Group” under the ENERGYDATA.INFO logo - make it the same logo that was there before.

[2017-12-04 17:16] Naigege opened #209 "Bring Global Wind Atlas on front page and Change App number to 12"
Replace the Africa Electricity Grids Explorer with Global Wind Atlas, in the featured app section on front page. And change the app number to **_12_**.

<img width="1042" alt="screenshot 2017-12-04 12 15 55" src="https://user-images.githubusercontent.com/6911487/33566076-f1938ae6-d8ec-11e7-9121-4a72b0969261.png">

[2017-12-07 19:51] #209 closed

[2018-01-04 20:21] Naigege commented on #86
This issue is applied on downloading an csv file as well. Below shows a user feedback:

1) BUG: Missing download parameter in HTML <a>-tag on energydata.info web page for both wind and solar, and biomass and everything else…:

There is a problem with the way the web pages are set up on energydata.info, surely not your fault, but you have to contact the IT crew who did these web pages…

I downloade

[2018-03-22 22:49] Naigege opened #212 "Strange Page Button on dataset website"
![image](https://user-images.githubusercontent.com/6911487/37802639-b2fb4fa2-2e01-11e8-8ad0-080f65d80943.png)

[2018-03-26 20:06] Naigege opened #213 "Strange metadata field when uploading dataset - Maintainer"
The Maintainer field which is not seen on the page prevents uploading a new dataset/updating an existing dataset.
![maintainer](https://user-images.githubusercontent.com/6911487/37930073-a7383c96-310f-11e8-802f-d6c3538a19aa.JPG)

The examples links are:
https://energydata.info/dataset/zimbabwe-population-density-2015
https://energydata.info/dataset/vietnam--population-density-2015

[2018-03-26 20:20] Naigege opened #214 "Unexpected mandatory field when uploading a new dataset - URL field"
Before, the URL was default by the system.
![url mandatory field](https://user-images.githubusercontent.com/6911487/37930709-8b568c74-3111-11e8-9bb5-9ed106ad1abf.jpg)

[2018-03-26 20:31] Naigege opened #215 "File too large to be uploaded issue"
The file size case by case, but even for a geojson file with 12 MB only, but cannot be uploaded.

[2018-03-26 20:32] Naigege opened #216 "[Urgent] Data API via resource's ID does not work"
There are 3 examples:
a.	Hydro-connected Solar PV potential (test)
                   https://energydata.info/api/action/datastore_search?resource_id=10466022-d770-4d41-9caf-6094be6c9a35
b.	Solar Measurement Sites (test)
https://energydata.info/api/action/datastore_search?resource_id=fc377e32-dd81-4f7e-8d8b-fd6a30aa29f3
c.	Solar Measurement Sites (production)
              https://energydata.info/

[2018-03-27 10:04] jodiegardiner commented on #212
Hi Naichen.  Can you tell me where you are seeing this (i.e. what search terms or filters are applied?). Can you also tell me which browser you are using?

I am not able to replicate this one in the popular browsers.

[2018-03-27 21:12] jodiegardiner commented on #216
The resources have all been recovered and pushed to the datastore where the file size limits allowed.

a) and c) above both function as intended and b) is a deleted dataset.  In this case, a test dataset that was created and deleted on the same day to be replaced by the production version (which is c) above).  External apps should update their urls accordingly.

[2018-03-28 10:41] moravcik commented on #216
The a) and b) resources work, but it seems there were some changes with CORS configuration, so I am not able to call the API from globalsolaratlas.info website.

I am getting the `No 'Access-Control-Allow-Origin' header` error:

    XMLHttpRequest cannot load https://energydata.info/api/action/datastore_search?resource_id=3d76335d-d744-4e70-8384-f83d0a096422&limit=1000. No 'Access-Control-Allow-Or

[2018-03-28 12:27] jodiegardiner commented on #216
Hi moravcik.  CORS access control has been configured now so you should be able to call the API externally.  I have checked and the http://africagrid.energydata.info/ app can access the data now.

[2018-03-28 15:10] jodiegardiner commented on #215
File size limits boosted to 100mb across the board.

[2018-03-28 15:53] Naigege commented on #215
Hi Jodie, if the file is bigger than 100mb regardless of the format, the file cannot be uploaded?

[2018-03-28 17:17] jodiegardiner commented on #214
Fixed on staging.  Will be pushed live during next window of offpeak opportunity

[2018-03-28 18:24] Naigege opened #217 "Strange User Interface When uploading/updating a dataset"
Missing remove button for the URL, and no button to upload new dataset...

![screenshot_upload](https://user-images.githubusercontent.com/6911487/38048529-a36500ba-3293-11e8-95a4-c57f6caa6b10.png)

[2018-03-28 19:14] kamicut commented on #85
@olafveerman we don't need to port backups, right?

[2018-03-29 09:32] moravcik commented on #216
Thank you @jodiegardiner, it works also for globalsolaratlas.info

[2018-03-29 09:33] jodiegardiner commented on #216
Great!

[2018-03-29 09:33] #216 closed, assigned to jodiegardiner

[2018-03-29 09:41] jodiegardiner commented on #214
Pushed to production.

[2018-03-29 09:41] #214 closed, assigned to jodiegardiner

[2018-03-29 09:42] jodiegardiner commented on #212
Closing this as it is not reproducible.  Please reopen if this issue is encountered again.

[2018-03-29 09:42] #212 closed, assigned to jodiegardiner

[2018-03-29 15:36] ClaraIV commented on #216
Hi @jodiegardiner

I'm not sure I understand what the problem was with the API requests? What was the update that needed to happen for this to work again?

We have the same problem with the Global Wind Atlas (https://globalwindatlas.info/) which is not displaying the location info contained in this dataset:  https://energydata.info/dataset/global-wind-masts-inventory/resource/c412ca57-bbc8-4a57-97

[2018-03-29 16:41] shandaoz commented on #215
Hi Jodie! I was uploading a 35 MB Geojsonfile for a dataset (https://energydata.info/dataset/subcounty-boundaries-2014), but the platform still indicated that the file was too large for upload.
![too large](https://user-images.githubusercontent.com/36420556/38101471-6071fbb2-334e-11e8-904b-5a709bebae08.JPG)
![file too large](https://user-images.githubusercontent.com/36420556/38101525-821df374-334e

[2018-03-29 16:46] deirdrelee opened #218 "Install OpenSSL patch"
https://www.openssl.org/news/secadv/20180327.txt

[2018-03-29 16:48] jodiegardiner commented on #216
Hi @ClaraIV

The fix for this was enabling access-control allow origin.  In order to do a datastore api call though, the resource must be in the datastore in the first place, obviously.  This was not the case for the resource you linked above.  It is in there now.  The wind atlas looks good to me now.

[2018-03-29 16:53] ClaraIV commented on #216
Hi @jodiegardiner

Thanks for the fast reply. What do you mean it was not in the datastore in the first place? Who moved it out? It worked before the maintenance so we're trying to understand what happened that caused the API requests to stop working and why do you need to manually "move" the resources back in the datastores.
Thanks for your help.

[2018-03-29 17:21] jodiegardiner commented on #215
Hi all.  I have now set the maximum file size to 2gb.  I have tested just now with a 40mb geojson and it was uploaded without issue.  I am not sure why the 35mb file was failing but if you could try it again now and let me know that would be great.

[2018-03-29 17:30] jodiegardiner commented on #216
Hi @ClaraIV
When we took over maintenance, we essentially recreated the site using a modern CKAN version then replicated the existing setup as closely as possible on a totally different host server.  Part of that was copying the resources into the filestore and also sending those resources to the datastore. In some isolated cases this last part had some issues.  Those issues should be resolved now

[2018-03-29 18:40] shandaoz commented on #215
Hi Jodie. Thanks for your update! I can now upload all the files that I wasn't able to upload earlier.

[2018-03-29 18:57] shandaoz opened #219 "Two authors entries not valid"
![1](https://user-images.githubusercontent.com/36420556/38107868-18f82708-3361-11e8-8281-d4fd5f8712c7.JPG)
![2](https://user-images.githubusercontent.com/36420556/38107904-30cb95fe-3361-11e8-94fb-1340f9db15e4.JPG)
Before the migration the platform allowed us to input more than one anothor email addresses in one entry, but now we cannot.

[2018-03-29 19:14] shandaoz opened #220 "Total number of datasets do not match"
![3](https://user-images.githubusercontent.com/36420556/38108753-d2fa17ea-3363-11e8-94d1-17c170d934c6.JPG)
![4](https://user-images.githubusercontent.com/36420556/38108754-d30b20c6-3363-11e8-8b13-69962c00a71b.JPG)
The total number of datasets displayed on the front page is 402, but the number is displayed as 401 on the datasets page.

[2018-03-29 19:27] ClaraIV commented on #216
Hi @jodiegardiner

Thanks for the information, useful to know.

[2018-03-29 21:35] Naigege opened #221 "Search function does not work within organization page"
When go to an organisation page firstly, then use the search bar within the organization page, the results are always 0
![image](https://user-images.githubusercontent.com/6911487/38114752-8de969c6-3377-11e8-828f-de0e22d9a3c8.png)

[2018-03-30 14:36] jodiegardiner commented on #215
Great.  I shall close this again in that case.

[2018-03-30 14:36] #215 closed, assigned to jodiegardiner

[2018-04-03 10:41] jodiegardiner commented on #220
Fixed.

[2018-04-03 10:41] #220 closed, assigned to jodiegardiner

[2018-04-03 12:29] jodiegardiner commented on #213
Fixed.  Rebuilding now.

[2018-04-03 12:29] #213 closed, assigned to jodiegardiner

[2018-04-03 15:07] shandaoz opened #222 "URL changes after content update"
Hi! I have encountered a strange problem when making updates and is wondering why it seems to be occurring randomly for different datasets.
When I make updates on a page, it generates a new URL, basically adding a "-" behind the original URL. After the updates, the original URL can no longer be opened.
Thanks!
![1](https://user-images.githubusercontent.com/36420556/38257857-1d70405a-372f-11e8-8daa

[2018-04-03 18:14] Naigege opened #223 "Pdf preview does not work"
The pdf preview does not work for the dataset <https://energydata.info/dataset/kazakhstan-transmission-substations-2016/resource/0aa70538-aa68-47bc-aeea-c8f1be9b0d51>
![image](https://user-images.githubusercontent.com/6911487/38267342-2dd2acfc-3749-11e8-9fc7-e8da29828e6e.png)

Also, there is a warning showing up after clicking on the "Manage" button
![image](https://user-images.githubusercontent.c

[2018-04-03 19:37] Naigege commented on #217
I want to simply replace one existing dataset, and keep all the metadata info the same - <https://energydata.info/dataset/road-network-afghanistan/resource/281f23ce-16e7-42e7-ad08-54669a150bfc>. But it does not work, the "Upload" or "Link" buttons do not work:

![image](https://user-images.githubusercontent.com/6911487/38271629-f4525872-3754-11e8-89ee-bdeeee57cc9f.png)

For now (to cross this issu

[2018-04-03 20:16] Naigege opened #224 "Integrate the Nigeria Rural Electrification Planning"
App name: Nigeria Rural Electrification Planning
Attribution: INTEGRATION (www.integration.org) & Reiner Lemoine Institut (www.reiner-lemoine-institut.de)
Description: Visualizes rural electrification plans of the five Federal Nigerian States of Cross River, Niger, Ogun, Plateau and Sokoto
App link: http://rrep-nigeria.integration.org/

@jodiegardiner Please integrate this app on the <https://ener

[2018-04-03 20:36] Naigege opened #225 "Climatescope 2017 Preview Screenshot does not work"
![image](https://user-images.githubusercontent.com/6911487/38274575-2a7d5516-375d-11e8-855c-d43f92a8de03.png)

On the app page: https://energydata.info/apps

[2018-04-04 08:44] jodiegardiner commented on #223
Fixed

https://energydata.info/dataset/kazakhstan-transmission-substations-2016/resource/0aa70538-aa68-47bc-aeea-c8f1be9b0d51

[2018-04-04 08:44] #223 closed, assigned to jodiegardiner

[2018-04-04 08:46] jodiegardiner commented on #225
Can you give a bit more info please @Naigege ?

I'm not 100% sure what the specific issue is.

Thanks.

[2018-04-04 16:36] Naigege commented on #225
![image](https://user-images.githubusercontent.com/6911487/38321164-c072ed18-3804-11e8-8176-2aca58a7c071.png)

It should be like this....

[2018-04-05 00:19] jodiegardiner commented on #225
Ah I see.  Fixed now.

[2018-04-05 00:19] #225 closed, assigned to nobody

[2018-04-10 19:11] shandaoz opened #226 "Slow Platform Response"
Hi ! The platform performance speed is not very stable. Sometimes the site response is very slow, other times it works just fine. Please improve the site response speed so that it's more consistent. Thanks !

[2018-04-10 21:11] shandaoz opened #227 "Adding asterisk for mandatory fields"
![6](https://user-images.githubusercontent.com/36420556/38583706-d98f81ee-3ce1-11e8-8555-2f41efe59b2b.JPG)
Hi! We would like to add an asterisk in front of the "author" and "publishing date" fields as well. Thank you!

[2018-04-10 21:19] shandaoz opened #228 "Clear upload option for data uploads does not work"
Hi!
There is no “clear upload” option when the user is uploading a dataset for the first time. This option only appears for existing attached files. However, even when the “clear upload” button is selected, nothing happens before or after submission ( it does not remove the original file). This option vanishes when the uploaded data is  re-opened a second after submission.  Thank you!
![7](https:/

[2018-04-10 21:24] shandaoz commented on #217
When uploading a dataset, the platform does not self-generate a URL for the uploaded dataset.

![8](https://user-images.githubusercontent.com/36420556/38584288-da7f811a-3ce3-11e8-97b1-eefa8f029d77.JPG)

[2018-04-18 15:49] jodiegardiner commented on #221
This is fixed on staging and will be deployed in the next window.

[2018-04-19 08:06] jodiegardiner commented on #221
Deployed to production.

[2018-04-19 08:06] #221 closed, assigned to jodiegardiner

[2018-04-19 23:26] Naigege opened #229 "Urgent! Data Group feature does not work"
After entering the Group info - MTF Survey (in the metadata page) as below, it does not show up in the dataset page:
![capture](https://user-images.githubusercontent.com/6911487/39023185-265d281a-4407-11e8-8d66-8bcc6e43d99d.PNG)

![image](https://user-images.githubusercontent.com/6911487/39023250-82893160-4407-11e8-8d12-734fa6261e7d.png)

[2018-04-22 16:16] jodiegardiner commented on #226
I am unable to replicate this behaviour.  If there is a particular activity that is being performed slowly then I can look at this further but all the monitoring tools show site load and response rate within normal parameters. One might notice slow response immediately upon uploading a large resource.  This is to be expected.

[2018-04-22 16:16] #226 closed, assigned to jodiegardiner

[2018-04-23 09:19] jodiegardiner commented on #219
Fixed and pushed to production. Tested and working.

[2018-04-25 18:05] Naigege commented on #217
#228 is the relevant issue.

[2018-04-25 18:10] #82 closed

[2018-04-25 21:44] Naigege commented on #177
link to issue #227

[2018-04-25 21:44] #177 closed

[2018-04-25 22:00] Naigege commented on #51
link to #132

[2018-04-25 22:00] #51 closed

[2018-04-25 22:48] Naigege commented on #74
link to #57

[2018-04-25 22:48] #74 closed

[2018-04-25 22:48] Naigege commented on #57
Look into getting stats on:

downloads
which apps people browse to

[2018-04-25 22:53] Naigege commented on #71
link to #185

[2018-04-25 22:53] #71 closed

[2018-04-25 23:13] Naigege opened #230 "Showing the uploading progress"
Show the uploading progress, to let users know the file is being uploaded and when it is uploaded successfully.
![image](https://user-images.githubusercontent.com/6911487/39277637-be0ef350-48bc-11e8-8f93-29391b39f743.png)

[2018-04-26 16:32] shandaoz commented on #219
![two authors](https://user-images.githubusercontent.com/36420556/39318894-dd538d2c-496e-11e8-8d5a-c78e47d39ab5.PNG)

Hi Jodie! Thanks for fixing the issues.
I noticed that while metadata update now allows the user to input two authors, only the first author can be contacted. Since on the metadata interface, only the first author’s email can be opened. Could you fix this issue and allow both autho

[2018-04-27 08:33] jodiegardiner commented on #229
As the help box says, if you type  group:"MTF Survey" into the search box on the dataset list, then you get the expected behaviour.

![screen shot 2018-04-27 at 09 31 41](https://user-images.githubusercontent.com/21362845/39352845-e24aee8a-49fd-11e8-8157-81490fb6660b.png)

The group facet your screenshot shows is not connected with this feature at all.

[2018-04-27 08:35] jodiegardiner commented on #222
The URL is generated automatically from what is entered into the title box.  If an extra character has appeared there it is because the title has been changed.

To prevent this behaviour from happening, do not change the title (unless you want the URL to change).

[2018-04-27 08:35] #222 closed, assigned to jodiegardiner

[2018-04-27 09:24] jodiegardiner commented on #217
I will close this and fix #228

[2018-04-27 09:24] #217 closed, assigned to jodiegardiner

[2018-04-27 19:49] Naigege commented on #229
![image](https://user-images.githubusercontent.com/6911487/39382068-5b09257e-4a32-11e8-871a-c92a8af3de0f.png)

To create a group, use <energydata.info/group>

[2018-05-01 17:52] Naigege opened #231 "New Feature - auto user survey in webpage"
Explore and propose the best way to survey ENERGYDATA.INFO platform users, to get feedback and suggestions.

[2018-05-02 14:43] Naigege opened #232 "New Feature - data viewer"
Prepare a data viewer (interactive map) to allow the user to visualize different datasets in one window, and to compare different datasets.

Carto/Mapbox/Leaflet may be the candidates

[2018-05-16 16:19] jodiegardiner commented on #219
Hi Shandaoz.  This is now fixed!  It is important that both the author and author email fields are filled in, and also important that they are separated by commas.

[2018-05-16 16:19] #219 closed, assigned to jodiegardiner

[2018-05-16 16:21] jodiegardiner commented on #228
This issue is now fixed.  I also reverted the change i made for #217 as the fix for this one offers a better solution.

[2018-05-16 16:21] #228 closed, assigned to jodiegardiner

[2018-05-31 11:09] jodiegardiner commented on #224
Hi Naichen,

I've implemented the app here:

https://energydata.info/apps

Please check you are happy with everything and if so, close the ticket please.

[2018-06-01 11:12] #224 closed, assigned to jodiegardiner

[2018-06-19 19:45] Naigege opened #233 "Urgent - privacy error"
![image](https://user-images.githubusercontent.com/6911487/41620434-b8ab48aa-73d7-11e8-8a78-fbe0791865e7.png)

@deirdrelee @jodiegardiner

[2018-06-19 20:36] jodiegardiner commented on #233
Hi Naichen, I am dealing with this now

[2018-06-19 20:48] jodiegardiner commented on #233
Hi Naichen, the site SSL cert had expired despite being set to autorenew.  It is fixed now.

[2018-06-19 20:53] #233 closed, assigned to derwas

[2018-06-20 15:13] Naigege opened #234 "DDH data harvester development"
@deirdrelee @TigranParvanyan @JemiTheKey

As discussed on June 11, please send us the updates/reports regarding the DDH harvester development.

![image](https://user-images.githubusercontent.com/6911487/41667389-dbcfe590-747a-11e8-9322-c3fab902dcb1.png)

[2018-06-25 14:34] jodiegardiner commented on #218
This is done.

[2018-06-25 14:34] #218 closed, assigned to nobody

[2018-06-26 11:11] Shahmed opened #235 "Error - Egypt - Electricity Transmission Network (2017)"
Hello,

I am trying to download GIS data concerning (Egypt - Electricity Transmission Network (2017))
which can be found on
https://energydata.info/dataset/egypt-electricity-transmission-network-2017/resource/70cd56e7-5b9f-4d9e-8ca3-564283ae333a

However, I am not able to download it, I tried many times but I still get errors and the map-page is redirected to a code-page. I tried different browser

[2018-07-03 09:59] jodiegardiner commented on #235
HI Shahmed.

This is because the data is in geojson format and is viewable in a browser.  If you would rather download the file, you can right-click on the button and choose "Save link as..."

[2018-07-03 09:59] #235 closed, assigned to jodiegardiner

[2018-07-17 14:27] shandaoz opened #236 "Broken Sidebar Menu"
The sidebar menu does not work when the window is minimized on the site and when accessed using the phone.
![f1](https://user-images.githubusercontent.com/36420556/42823589-e72070d6-89ab-11e8-8bd4-ea8bdbca14a5.JPG)
@TigranParvanyan @JemiTheKey

[2018-07-17 14:34] jodiegardiner commented on #236
Thank you @shandaoz, I'll look at this soon.

[2018-07-19 19:57] shandaoz opened #237 "No email pop-up when you click on authors"
Email does not pop up when you click on an author's contact information for any dataset.
![email pop up](https://user-images.githubusercontent.com/36420556/42966765-2765cee0-8b6c-11e8-8104-f88747165fbe.JPG)
@TigranParvanyan @JemiTheKey

[2018-07-20 09:58] jodiegardiner opened #238 "Shared links to Social Media have no thumbnails"
This is determined by a meta tag like so:

`<meta property="og:image" content="https://energydata.info/images/meta/default-meta-image.png" />`

This tag is present at the moment, so the image must be corrupted.

[2018-07-24 00:48] shandaoz commented on #238
Hi Jodie, I am don't quite understand the phrase "the image must be corrupted". Do you mean because there is a meta tag in place, we can't add any images to it?
When we share a dataset on social media, the shared link does not have any thumbnail image and doesn't look good. Is there a way for us to add thumbnail images or use one image for all social media links?

[2018-07-24 08:10] jodiegardiner commented on #238
Sorry if I wasn't clear shandaoz.  I know how to fix this (the default image we use has become corrupted so it just needs replaced.) My comment above is just for documentation rather than a task for anyone else.

[2018-07-24 08:11] jodiegardiner commented on #237
What behaviour is expected here?

[2018-07-24 14:47] shandaoz commented on #237
Supposedly when you click on an author's contact information, an email drafting box should pop up, with the author's email already written in the recipient's column. I also discovered that clicking on the email thumbnail in "connect us" no longer generates this behavior as well.
![2](https://user-images.githubusercontent.com/36420556/43146198-be4e97fe-8f2e-11e8-9f47-2b5f21d06b51.JPG)
![1](https://

[2018-07-24 14:49] shandaoz commented on #238
I see. Thanks for clearing that up Jodie!

[2018-07-24 14:51] jodiegardiner commented on #237
When I click on the author name, my email client opens with the address already filled in:

<img width="600" alt="screen shot 2018-07-24 at 15 50 12" src="https://user-images.githubusercontent.com/21362845/43146551-5b456856-8f59-11e8-8366-6f9c00d19628.png">

Have you changed mail settings or client lately perhaps?

I am using Google Chrome and Mac Mail.  What browser/mail_client combo are you usin

[2018-07-24 14:57] shandaoz commented on #237
That's strange. I have not changed my setting recently. I use Google Chrome and Windows 10. We also tried clicking the contact information around using the Bank's lap tops (Chrome and Windows 10), but we were unable to get your results.

[2018-07-25 19:35] jodiegardiner commented on #238
As can be seen on the [facebook developer console](https://developers.facebook.com/tools/debug/sharing/?q=https%3A%2F%2Fenergydata.info%2Fdataset%2Fcities-in-afghanistan), this is now working.  The .png file which had been in place before had become corrupted, so I have replaced the image. I also noticed the preview image for Twitter was missing in the same way and fixed that too.

Screenshot atta

[2018-07-25 19:35] #238 closed, assigned to jodiegardiner

[2018-08-20 21:59] shandaoz opened #239 "Custom data field for the metadata cannot be displayed"
The following custom data field cannot be displayed on the metadata page when created for this dataset: https://energydata.info/dataset/zambia-solar-radiation-measurement-data-2015-2017
![custom field](https://user-images.githubusercontent.com/36420556/44368996-be599800-a4a2-11e8-8c9f-5844e5195bfb.JPG)
@JemiTheKey @TigranParvanyan

[2018-08-28 10:26] jodiegardiner commented on #239
I have fixed this on staging.  Will be deployed to production in the next update.

[2018-08-28 10:26] #239 closed, assigned to nobody

[2018-08-28 11:15] jodiegardiner commented on #237
Hi folks.
I tested extensively using this tool:

https://www.browserstack.com/

I could not replicate the behaviour you mention.  I was able to test using Windows 10 and chrome (latest) and got the email client selection popup as expected.

Could you try the following and let me know how it goes please?:

- Open the Control Panel.
- In the Control Panel, search for Default Programs, then click it.

[2018-08-28 13:24] shandaoz commented on #237
Thanks Jodie!

[2018-08-28 13:24] #237 closed, assigned to jodiegardiner

[2018-08-28 16:11] jodiegardiner commented on #236
Well, this was far more time consuming than it should have been in the end given the fix!  We got there though.  Fixed and viewable on staging, pushed in next deploy.

[2018-08-28 16:13] jodiegardiner commented on #234
This was delivered before I went away on vacation. It has not been deployed to Production yet.

[2018-08-28 16:14] jodiegardiner commented on #231
I will close this as there is a general ticket for the User Engagement features

[2018-08-28 16:14] #231 closed, assigned to jodiegardiner

[2018-08-28 16:15] jodiegardiner commented on #206
@shandaoz Is this still a valid ticket?

[2018-08-28 17:40] shandaoz commented on #206
@jodiegardiner Yes, it is still a valid ticket.

[2018-08-28 17:46] shandaoz commented on #236
Thanks Jodie!

[2018-08-28 18:14] jodiegardiner commented on #186
I have implemented this and it is viewable now on the front page of staging. Deployed to live in next push.

[2018-08-28 18:14] #186 closed

[2018-08-28 18:49] jodiegardiner commented on #227
This has been fixed on staging. Will go live in next deploy.

[2018-08-28 18:49] #227 closed, assigned to jodiegardiner

[2018-08-28 19:27] jodiegardiner commented on #206
This has been changed on staging. Please view and close if satisfied.  I am unsure how it looked before as that was before Derilinx's involvement.

@shandaoz

[2018-08-29 14:39] shandaoz opened #240 "URGENT-ENERGYDATA.INFO platform crashed"
![image](https://user-images.githubusercontent.com/36420556/44795034-bd49fa00-ab77-11e8-9914-613f26df90eb.png)

[2018-08-29 14:47] jodiegardiner commented on #240
Sorting this now.

[2018-08-29 14:47] jodiegardiner commented on #240
If you need to keep working on the site, press advanced then you can visit the site anyway.  It's still there.

[2018-08-29 14:55] shandaoz commented on #240
When I pressed advanced, it did not take me to the site, but I received the following message.

"Energydata.info usually uses encryption to protect your information. When Google Chrome tried to connect to energydata.info this time, this site sent back an unusual error credential. This may be because an attacker is trying to impersonate energydata.info, or the Wi-Fi login screen interrupts the conn

[2018-08-29 15:04] jodiegardiner commented on #240
Fixed

[2018-08-29 15:04] #240 closed, assigned to jodiegardiner

[2018-08-29 15:07] shandaoz commented on #240
Thanks!

[2018-08-29 15:08] shandaoz commented on #206
The new logo looks good!

[2018-08-29 15:08] #206 closed

[2018-08-29 15:24] jodiegardiner opened #241 "Comments can't be deleted"
@shandaoz

Are you experiencing this when you try to delete ANY comment?  Only your own?  Only others?

[2018-08-29 15:35] jodiegardiner commented on #241
Well, I think I've gotten to the bottom of it right away.  Currently only ckan sysadmins can delete comments.  Whereas your account is an Admin of the World Bank Group Organization (not quite the same thing).

So I suppose we need to decide who is permitted to delete comments?
Options:

- Sysadmins only - Safest.
- Sysadmins and Org admins can delete all (within their org in the case of Org Admins

[2018-08-29 15:35] shandaoz commented on #241
Yes, I am experiencing this when I am deleting my own comments and the comments you made.

Users should be able to edit and delete comments created by only themselves, and not other users'. The ENERGYDATA team would like to have the ability to delete an inappropriate comment made by regular users.

[2018-08-29 15:37] jodiegardiner commented on #241
We posted at the same time :)

It seems you answered my question without seeing it anyway.  I will make it so that sysadmins can delete any and users can delete their own.  With the ENERGYDATA team being made sysadmin users.

[2018-08-29 15:48] shandaoz commented on #241
Oh! We did post at the same time!

Thanks! The ENERGYDATA team would like to be made sysadmins users. However, if an user accidentally made a spelling mistake or want to change the content of their comment, they would not be able to delete their own comments? (Since I did not locate an edit option to edit submitted comments)

[2018-08-29 16:29] jodiegardiner commented on #241
Hi @shandaoz

This feature should work now, can you test it please?

I have set it so that sysadmins can delete every comment, and users can delete their own.  There is an edit button on any posts which you have created yourself (or all posts if you are a sysadmin).

I have also upgraded your user account to sysadmin status.

You can try creating a new user for the purposes of testing this (as eve

[2018-08-29 16:59] shandaoz commented on #241
Tested @jodiegardiner

I can now delete my own as well as a regular user's comments. However, there are 3 other issues from testing on this dataset: https://energydata.staging.derilinx.com/dataset/afghanistan-wind-speed

1. Although you don't have to input a subject title when you reply to an existing comment, the title column displays either as "None" or "No Subject". Can these titles be removed?

[2018-08-30 09:18] jodiegardiner commented on #241
Hi Shandao - the original issue and the three extra issues you mention here are now fixed on staging.  Please re-test these issues and close the ticket if satisfied.

[2018-08-30 09:32] jodiegardiner opened #242 "User Survey feedback"
Hi @shandaoz,
I have broken up the user survey somewhat so that each question now has a page of its own.  You can see in Survey Monkey that this is quite an intuitive and straightforward process to repeat for further questions.

I also updated the theme of the survey to be in line with the ENERGYDATA.INFO site.

If you are satisfied that my contribution to the user survey is complete, please close

[2018-08-30 14:39] shandaoz commented on #241
Hi Jodie, thanks for fixing the 3 issues. I have a few more concern over the display of comments. As I created more comments and replies, the dataset page stretches very long and looks inconsistent. It will be difficult for users to reach the comments box at the bottom of the page to submit their own comments. Additionally, it is confusing to identify whom the users are replying to.
https://energy

[2018-08-30 14:52] shandaoz commented on #242
Hi Jodie,

I have created a new account yesterday to test the features on staging, but so far has not triggered the survey even though I clicked on a bunch of datasets that I have not clicked/tested. Therefore, I could not see how the survey is currently displayed.

I also can't seem to login to survey monkey, using User: wbgenergydata and Password: FullEnergized
![login details](https://user-imag

[2018-08-30 14:54] jodiegardiner commented on #242
Incorrect password. My mistake. Check your mail.

[2018-08-30 15:23] shandaoz commented on #242
Got it! The display looks great in Survey Monkey!

If the pop up survey is initiated the first time I  open up a page, how come I have not seen it on my new account?
Will the survey be initiated each time a user comes back to ENERGYDATA and clicks on a dataset, or will the user only see the pop up on their very first visit ?

[2018-08-30 15:29] jodiegardiner commented on #242
If you are using the same browser for both CKAN accounts then you won't see it pop up again.  You could try the same dataset in another browser.

Currently every single visitor will see it so I didn't want to limit that to site users.

[2018-08-30 15:42] shandaoz commented on #242
I see :)

1. Can the pop up survey be initiated more than once? For example, if a visitor lands on a dataset page for the first time and decided to closed the survey without responding, the visitor would never be able to take or see the pop up survey again. I wonder if we could initiate the survey randomly (for future visits or after spending 10 mins on the platform etc.) for visitors who did not

[2018-08-30 16:07] jodiegardiner commented on #242
1. I checked in survey monkey and with pop-up collectors like this, it is limited to once per visitor.

For 2.  Yes, on the "collect responses" tab in Survey Monkey. You may have to press the "Back" button at the bottom left of that tab a couple of times to get to the layout designer section.

[2018-08-30 16:29] shandaoz commented on #242
I see. Survey monkey is easy to use and has a simple display.
What about other survey apps? If in the future we would like to have more than once pop ups, would it be easy to switch to another survey service?

Thanks! I found the layout designer!

[2018-08-31 08:57] derwas commented on #241
@shandaoz are replies to comments necessary?

[2018-08-31 09:35] shandaoz commented on #241
@derwas @jodiegardiner

1. No, replies to comments are not necessary, but can the reply option be made available to Sysadmins, so our comments could show up directly below whomever we want to get back to, so that the comment boxes can be kept one level smaller?

2. I just realized that that the comment box displays the real-name of users. Please have only the username of the users displayed.
![111

[2018-08-31 12:29] jodiegardiner commented on #242
Yes I'm sure that would be possible if other survey providers allow that feature.

[2018-08-31 12:34] jodiegardiner commented on #241
1. Only sysadmins can reply now.
2. Fixed
3. In progress.

[2018-08-31 12:41] jodiegardiner commented on #241
Another update:

I turned on the email notifications and updated the template I use.  If you post a comment now you will receive a notification email to the address you provided yesterday.

[2018-08-31 14:18] shandaoz commented on #241
Great! Once the third point is covered and tested, then we are ready for implementation!

[2018-09-03 14:57] jodiegardiner commented on #241
There is now a show/hide button if there are extra comments.  Still working on making it look good.

[2018-09-04 15:00] shandaoz commented on #241
1. The show/hide button works great! However, the display of the show/hide button looks a bit strange. Could you centralize the "show more" and "hide", and close their word box? (Please refer to the screenshots below)

2. The username of users who made comments have vanished from the title of the comment boxes.

3. In the case of a receiving a large number of comments, can we have the ability to m

[2018-09-05 19:08] shandaoz commented on #229
Following Naichen's instructions of creating a group from https://energydata.info/group , I did not see any options to add groups.
![groups shot](https://user-images.githubusercontent.com/36420556/45115317-80ed3f80-b11d-11e8-8701-cea8b2191331.png)

[2018-09-05 20:00] jodiegardiner commented on #229
Works for me when I log in as you. Please check.

[2018-09-05 20:00] #229 closed, assigned to jodiegardiner

[2018-09-06 10:55] jodiegardiner commented on #241
Hey,

The show more is properly aligned now and the usernames are back (they were there, they were just the same colour as the background...)

<img width="709" alt="screen shot 2018-09-06 at 11 54 05" src="https://user-images.githubusercontent.com/21362845/45153384-acc6fe80-b1cb-11e8-929e-569612d4ad37.png">

The final point is pretty complicated to implement.  It's by no means impossible but it is

[2018-09-10 21:07] shandaoz commented on #242
Pop-up survey is triggered every day/every other day. Please investigate the configuration for Survey Monkey and uncover the reason behind this behavior.

[2018-09-10 21:09] shandaoz commented on #241
- Open comments for all visitors (both unregistered and registered users).
- Remove edit and delete options for all visitors.
- Keep edit, reply and delete options for Admins only.

[2018-09-10 21:11] shandaoz opened #243 "Add number of likes next to the like button"
![k](https://user-images.githubusercontent.com/36420556/45324591-92b75400-b51c-11e8-938a-48e31fe5734b.jpg)

[2018-09-10 21:27] shandaoz opened #244 "Feature the most recent datasets on the homepage"
We would like to feature not only the most viewed and most liked, but also the most recent datasets on the homepage.

[2018-09-10 21:41] shandaoz opened #245 "Auto-remove year from dataset titles"

[2018-09-14 12:16] jodiegardiner commented on #243
This is complete.

[2018-09-17 10:41] jodiegardiner opened #246 "Server traffic investigation"
We are seeing a lot of requests coming in to the server from a WBG IP address:
192.86.106.81

I ran a check at:

https://ipinfo.info/html/ip_checker.php for that IP and got an email address:

From that report I got the email address of the network centre:

ncenter@worldbankgroup.org

The requests are infrequent but can clog up the site for hours and result in reduced perfomance, slower page loads/

[2018-09-17 10:51] jodiegardiner opened #247 "Stop Linode's kernel listening on port 16385"
See https://www.linode.com/community/questions/17098/whats-listening-on-port-16385

Reconfigure then reboot server as per Linode's instructions.

[2018-09-17 10:51] #247 closed, assigned to jodiegardiner

[2018-09-17 13:29] shandaoz commented on #246
Thank you for notifying us of this issue. We are not familiar with this address. Please email this address and find out the purpose of their requests.

[2018-09-17 14:10] shandaoz commented on #243
Hi Jodie, the new like button is a great way to avoid using repetitive thumbs up symbols! But, it is not very obvious to the users that this is a clickable feature. Could you have the word "Like" in place of "+1" for the like button?
![capture](https://user-images.githubusercontent.com/36420556/45628373-7454d980-ba83-11e8-895c-f09889f28867.PNG)

[2018-09-17 14:44] jodiegardiner commented on #243
Replaced the +1 with "Like".

[2018-09-17 14:44] #243 closed, assigned to jodiegardiner

[2018-09-23 22:38] jodiegardiner commented on #241
This was a lot more time consuming than you might think.  I had to rip out all the authentication code.  CKAN (like most applications) does not want you to be able to write to the database without authentication. But we got there in the end.

[2018-09-23 22:48] jodiegardiner commented on #242
I spent a good deal of time tracking the information for this down.  According to the documentation, the popup will trigger once per browser session.  What this means is that in order to get the popup to appear again to the same user, the browser must be entirely closed (not just the tab) and reopened.  Once this has happened, then the user will see the pop up again the next time they visit a data

[2018-09-23 22:48] #242 closed, assigned to jodiegardiner

[2018-09-23 22:55] jodiegardiner commented on #246
Email sent to network center, we shall await a response.

[2018-09-23 22:59] jodiegardiner commented on #245
Plan:
Run a script to parse dataset titles in the database and remove any references to Year.   Going forward, if additional data from other years is added to the portal, it should be added as a resource within the dataset.

I'll run this tomorrow.

[2018-09-23 23:01] jodiegardiner commented on #230
The upload progress is already displayed in the status bar of your browser.

[2018-09-23 23:01] #230 closed, assigned to jodiegardiner

[2018-09-23 23:04] jodiegardiner commented on #232
Will be considered as part of Energydata 2.0

[2018-09-23 23:04] #232 closed, assigned to nobody

[2018-09-24 14:32] shandaoz commented on #241
Great work Jodie! Glad it worked out at the end! (The process sounds very troublesome)
Just three small issues that may have gotten reverted.
1. The Sysadmins cannot reply to user comments.
2.  The Show more and Hide button is not centralized and half of the text box blended into the background again.
![show more](https://user-images.githubusercontent.com/36420556/45958019-e4280e80-c005-11e8-8fa2-

[2018-09-24 15:55] jodiegardiner commented on #245
Had a first stab at this today.  Clearly it needs some refinement... (nothing happened).

[2018-09-24 15:58] shandaoz commented on #245
You can rock this Jodie!  ᕦ(ò_óˇ)ᕤ

[2018-09-25 16:38] jodiegardiner commented on #245
We did it!  Please review :)

[2018-09-25 17:06] shandaoz commented on #245
Yay! Great work!
I went through the list of datasets and all the dates are indeed removed! I also stumbled upon 2 types of weird cookies.
1. The "-" in the datasets title were also removed for about 1/3 of the datasets.
![dates1](https://user-images.githubusercontent.com/36420556/46030116-c8476a00-c0e4-11e8-8a36-b22e9e3c46d1.PNG)
2. Some "()" and symbols in the parentheses that used to be the data

[2018-09-25 17:17] jodiegardiner commented on #245
Yep, I expected the ampersands to remain, there shouldn't be too many of them and easier to manually clean those up.  The hyphens too, depending on how many there are as there will be several legitimate hyphens in titles too I expect?

I'll incorporate removing the parentheses too.

The Kenya ones are interesting though, no hyphen should have been removed there as the script wasn't looking for hyp

[2018-09-25 17:19] jodiegardiner commented on #245
A side effect of that will be we lose the test comments and likes but no harm done there.

[2018-09-25 18:52] shandaoz commented on #245
Sounds good ;)  There are limited number of  ampersands and hyphens of where dates used to be, so we can clean it up in production.

There are a lot more datasets with hyphens removed, please look into that. It might be a bit annoying to add them back in one by one.

[2018-09-26 10:14] jodiegardiner commented on #245
Good morning Shandao,

I've copied the latest production database over, collected the latest views stats and reran the titles script.  It looks better to me (the Kenya datasets have their hyphens!).  I also stripped out the parentheses where appropriate.

Can you have a look over it and let me know if you're happy with how it is now please?

[2018-09-26 14:30] shandaoz commented on #245
Good afternoon Jodie,

Everything looks great! Great work!

[2018-10-04 21:23] #245 closed, assigned to jodiegardiner

[2018-10-04 21:47] jodiegardiner commented on #241
- Comments hidden after there are 4.
- Replies working again.
- Show/Hide centering works on some browsers some of the time.  Still working on it.

[2018-10-05 10:07] jodiegardiner commented on #241
Show/hide now works properly.

[2018-10-17 21:20] shandaoz commented on #241
Hi Jodie! I noticed that the comments section has been changed according to our last call. It looks good! The ENERGYDATA team has discussed the new look and has one more comment and a issue to report.

**Issue:** When more than 2 comments are expended, comments other than the first comment are hidden behind the "post comment" box.
![dddddddddd](https://user-images.githubusercontent.com/36420556/47

[2018-10-19 13:50] jodiegardiner commented on #241
Hi @shandaoz.

Hope you are well!

The issue and comment have been addressed and you can see the results on staging now.

e.g. https://energydata.staging.derilinx.com/dataset/afghanistan-wind-speed

[2018-10-19 14:04] shandaoz commented on #241
Hey Jodie! I'm well thanks! Hope you are doing great as well :)
The results look FANTASTIC, but just one teeny-tiny thing. When "post a comment" is expanded, all the comments are also displayed under the "post a comment" box. Could you remove all the already made comments and just have "post a comment" box when that is expanded?
![111111](https://user-images.githubusercontent.com/36420556/47223108

[2018-10-19 14:13] jodiegardiner commented on #241
We could but I reasoned that if you are interested enough to want to post a comment, then it would make sense to also be able to see the others.  Having the user require two clicks, one to see the comments, then one to see the comment form seems like an extra step that could be frustrating/poor UX.

Having said all that, your wish is my command! If you disagree then by all means, I can make that c

[2018-10-19 14:31] shandaoz commented on #241
LOL. I agree with you comment and like how you created the expand comments that users can choose to expand or close them under the post a comment. I will show this to the team and will get back to you on whether we all agree to keep this as it is.

Quick Question: Why is the number of likes now included in the metadata? It looks a bit redundant as we already have the numbers displayed at the top o

[2018-10-19 14:36] jodiegardiner commented on #241
Excellent question!  I have removed this now. (Site is rebuilding so you should see this in a few minutes).

[2018-10-19 14:37] jodiegardiner opened #248 "Remove "Likes" from Additional Info table"
As we now have it at the top of the dataset, there is no need to also have it display in the metadata.

[2018-10-19 14:37] #248 closed, assigned to jodiegardiner

[2018-10-19 14:50] shandaoz commented on #241
Great! It's removed now. I will get back to you on the comments :) Our plan is to have all user engagement features on staging rolled out to production once the comment feature is ready to go.

[2018-10-22 11:53] jodiegardiner commented on #86
This has been implemented, you can see it in action on (amongst others) a geojson file here:

https://energydata.staging.derilinx.com/dataset/africa-water-bodies-2015/resource/5d6b9830-ed2c-43d4-90c4-0c53ca0591d1

[2018-10-22 11:53] #86 closed

[2018-10-22 11:55] jodiegardiner commented on #139
I have investigated this and it is caused by the file size.  Previewing a 40mb geojson file would seriously affect server performance.

[2018-10-22 11:55] #139 closed

[2018-10-22 12:09] jodiegardiner commented on #86
Additionally, I also added this functionality to the main dataset page, so if you click "Go To Resource" then "Download" in the dropdown it will also correctly download.

[2018-10-22 13:46] shandaoz commented on #241
We are happy with the comment feature!

[2018-10-22 13:46] #241 closed, assigned to jodiegardiner

[2018-10-22 17:04] jodiegardiner commented on #241
\(ᵔᵕᵔ)/

[2018-10-24 14:38] jodiegardiner opened #249 "Datasets require to be approved before being published live"
New datasets are added to a draft queue where they need to be approved by an administrator.

[2018-10-24 14:51] jodiegardiner opened #250 "Update logo"
Remove extra text from under the logo.

[2018-10-24 14:51] #250 closed, assigned to jodiegardiner

[2018-11-02 13:44] jodiegardiner commented on #249
This feature is enabled and testable on staging.

[2018-11-02 13:44] jodiegardiner commented on #249
See email for further instructions.

[2018-11-02 15:13] shandaoz opened #251 "Missing "Register" button on ENERGYDATA"
![register](https://user-images.githubusercontent.com/36420556/47923598-4808e700-de90-11e8-9ceb-18961d2d40fe.JPG)

[2018-11-06 18:41] jodiegardiner commented on #251
This was only the case whilst in read-only mode.  Can't register if you can't write to the database.

[2018-11-06 18:41] #251 closed, assigned to nobody

[2018-11-06 18:42] jodiegardiner commented on #249
THis feature is now live in production.

[2018-11-06 18:42] #249 closed, assigned to jodiegardiner

[2018-11-06 18:42] jodiegardiner commented on #249
adding link to dataset into notification emails.

[2018-11-07 11:53] jodiegardiner commented on #234
New request to strip out titles from the DDH to EEX nightly harvest.

[2018-11-07 11:54] jodiegardiner commented on #246
Have not heard anything back (and haven't noticed excessive server traffic lately).  Closing for now and will reopen if we encounter this again.

[2018-11-07 11:54] #246 closed, assigned to jodiegardiner, shandaoz

[2018-11-07 11:57] jodiegardiner opened #252 "Make front page numeric animations take longer."

[2018-11-07 13:25] jodiegardiner opened #253 "Update app with correct attribution"
Done

[2018-11-07 13:26] jodiegardiner commented on #253
Kindly change for “Nigeria Rural Electrification Planning” by Reiner Lemoine Institut to “Nigeria Rural Electrification Planning” by INTEGRATION and Reiner Lemoine Institut as this was a collaborative effort. It should be the same as for “Nigeria Mini-Grid Finder” and for “Myanmar Off-Grid Analytics”.

[2018-11-07 13:39] #253 closed, assigned to jodiegardiner

[2018-11-15 16:46] jodiegardiner commented on #185
@shandaoz Is this still a relevant issue?

[2018-11-15 16:46] jodiegardiner commented on #47
@shandaoz Is this still a relevant issue?

[2018-11-15 16:47] jodiegardiner commented on #46
@shandaoz Is this still a relevant issue? Do you still see this behaviour?

[2018-11-15 16:48] jodiegardiner commented on #57
@shandaoz Is this still a relevant issue? This is a very vague specification.

[2018-11-15 17:34] shandaoz commented on #57
@jodiegardiner They meant to set-up a monitoring system to track the number of downloads each dataset has. We agreed to track downloads from now on from our earlier calls.
Just to double check, we do have a mechanism to track dataset downloads now correct?

[2018-11-15 17:47] shandaoz commented on #46
@jodiegardiner Yes, this is still an issue. When you search the name of a country in the search bar, the number of datasets does not match the number in the countries side bar. Example below.
![country](https://user-images.githubusercontent.com/36420556/48571332-94164b80-e8d4-11e8-9c57-062a6f17d1df.PNG)
![nigeria](https://user-images.githubusercontent.com/36420556/48571334-94aee200-e8d4-11e8-803c-

[2018-11-15 17:56] shandaoz commented on #47
@jodiegardiner Yes, but in a slightly different way. I noticed that for some datasets there is a "+" displayed under the dataset title, when the number of countries exceeds 4. However, other datasets with more than 4 countries are all listed. Can we keep this display consistent to list a max of 3 countries with "+" behind for datasets with more than 3 countries?
![number](https://user-images.githu

[2018-11-15 18:05] jodiegardiner commented on #47
Regions and Countries currently behave differently it seems. Would you like me to limit Regions to a max of 4?

[2018-11-15 18:06] jodiegardiner commented on #57
No, that information is currently not tracked. Google Analytics doesn't do that by default so that requires development.

[2018-11-15 18:09] shandaoz commented on #57
I will discuss this with the team and see if we want to proceed with this :)

[2018-11-15 18:13] shandaoz commented on #47
Yes please!

[2018-11-16 15:40] jodiegardiner commented on #234
Salutations!

I have completed the following edits:
A validation report is now produced and email after harvesting is complete.
Use ddh['last_update'] as metadata_modified
Use ddh['release_date'] as metadata_created

[2018-11-16 15:48] jodiegardiner commented on #234
Further, I have stripped the Year out of all the titles where one remained.

All this progress is visible on the staging server.

[2018-11-19 14:31] shandaoz commented on #236
The side bar menu at the top of the page could not be expanded on the phone

[2018-11-29 21:10] shandaoz opened #254 "Electrification Paths Application Page is Broken"
![1](https://user-images.githubusercontent.com/36420556/49252187-55fb4a80-f3f1-11e8-97d0-b769746fab4d.PNG)
![2](https://user-images.githubusercontent.com/36420556/49252190-58f63b00-f3f1-11e8-8e56-b82a566a28f6.PNG)

[2018-12-12 12:45] jodiegardiner commented on #254
Hi @shandaoz , I have fixed the link now.  They changed the url of their github account and I had to track that down but the link works now.

[2018-12-12 12:45] #254 closed, assigned to nobody

[2018-12-15 16:36] jodiegardiner opened #255 "Update SSL cert in advance"
Moving to automated process in next version so this is the final time it will be required.

[2018-12-15 16:36] jodiegardiner commented on #255
Fixed.

[2018-12-15 16:36] #255 closed, assigned to jodiegardiner

[2018-12-17 15:41] jodiegardiner opened #256 "Turn off SurveyMonkey"
Following a successful month of response collection, I have disabled the user survey for now.

[2018-12-17 15:41] #256 closed, assigned to jodiegardiner

[2019-01-08 14:34] shandaoz opened #257 "Comment feature does not work"
The web page crashes when trying to respond to an existing comment made by a site visitor on ENERGYDATA.INFO for [this dataset](https://energydata.info/dataset/pakistan-wind-measurement-data).
![comment error](https://user-images.githubusercontent.com/36420556/50836956-7f7c8f80-1328-11e9-92a8-a1313c80daac.PNG)

[2019-01-09 15:19] shandaoz opened #258 "URGENT-Dataset approval feature not working"
There are 3 issues regarding this:

1. ENERGYDATA did not receive email notifications when datasets are submitted for approval.
Example: we received 7 dataset submissions in December 2018, but received 0 email notifications from the ENERGYDATA inbox.
![pending](https://user-images.githubusercontent.com/36420556/50908490-d00eee00-13f7-11e9-9695-812ce7b64d1b.PNG)

2. When a dataset is approved, the

[2019-01-09 15:22] jodiegardiner commented on #258
Hmm, strange. Looking back I can see all those emails in my inbox (I get them sent there in addition to your team).  Let me investigate and get back to you.

[2019-01-09 15:27] jodiegardiner commented on #258
Dashboard is still there, you just need to click on the speedometer icon to the right of your username in the header :)

[2019-01-09 15:29] shandaoz commented on #258
Found it! Thanks Jodie!

[2019-01-09 15:30] jodiegardiner commented on #258
The email in the settings to send to is "energydata@worldbankgroup.org"  Is this correct?  Is it possible that your mail client is marking them as spam and putting them in junk?  If I am receiving emails to jodie@derilinx.com using the same system it is very likely the email is being sent.

[2019-01-09 15:37] shandaoz commented on #258
Yes, the email address is correct. The only email notification we received was about a new comment. I checked ENERGYDATA's spam and junk, but did not find any notifications from the platform.
![email edi](https://user-images.githubusercontent.com/36420556/50909597-2f6dfd80-13fa-11e9-8a4e-2fa4da638dd4.PNG)

[2019-01-09 15:47] jodiegardiner commented on #258
i've found the underlying issue with point 2.  Will have that fixed asap.  I will use a non-admin user on staging to create a new dataset, and I will add your personal email to the list of emails that should be notified.  This means, myself, you and the aforementioned team email should be alerted simultaneously. Then we can check to see who receives what and what the up to date junk folders say.

[2019-01-09 15:49] shandaoz commented on #258
Sounds good!

[2019-01-09 16:28] jodiegardiner commented on #258
Hi @shandaoz

I have performed that test now and see the notification in my inbox.  Did you get one?

I have also fixed the issue 2 and now the correct  user will be notified rather than the admin who approves.

All on staging at the moment.

I also see log messages indicating mail was successfully sent:

[2019-01-09 16:29] jodiegardiner commented on #258
ckan_1                               | INFO:ckanext.pending_datasets.logic.action:Successfully notified official jodie@derilinx.com for dataset comment 6f45f655-7283-40d7-8644-b8f921e8ea33
ckan_1                               | INFO:ckan.lib.mailer:Sent email to energydata@worldbankgroup.org
ckan_1                               | INFO:ckanext.pending_datasets.logic.action:Successfully notified off

[2019-01-09 16:29] shandaoz commented on #258
I have received the notification email : "The following dataset, testing-notification-emails, was submitted on 2019-01-09 16:20 by derilinx_user and is pending approval."
Since I did not see a dataset for approval, did you receive and email notifying yourself that the dataset is approved?

[2019-01-09 16:30] jodiegardiner commented on #258
That's right yes, I instantly approved it to check.  I will create another now and let you approve it to check again.  Is that notification only in your personal email or do you also see it in the team inbox?

[2019-01-09 16:33] shandaoz commented on #258
I see the notification both in my personal and team inbox. If you can see the approval notification then, this is good!

[2019-01-09 16:33] jodiegardiner commented on #258
<img width="663" alt="screenshot 2019-01-09 at 16 33 28" src="https://user-images.githubusercontent.com/21362845/50913469-56452780-142c-11e9-981b-e53490a030e7.png">

Hooray!

[2019-01-09 16:34] jodiegardiner commented on #258
I will push all these fixes live right away then.

[2019-01-09 16:47] shandaoz commented on #258
Thanks Jodie! That would be fantastic. Let me know when this is pushed live and I will close this issue.

Could you also looking into [this issue](https://github.com/energy-data/energydata.info/issues/257)? We cannot respond to comments.

[2019-01-09 17:10] jodiegardiner commented on #257
Looking at this now

[2019-01-09 17:21] #258 closed, assigned to jodiegardiner

[2019-01-09 21:34] shandaoz opened #259 "Dataset updates made by Derilinx"
Activity stream has shown that Derilinx has been continuously updating 3 datasets in the past few days. The datasets are: [Ethiopia - Multi-Tier Framework (MTF) Survey ](https://energydata.info/dataset/ethiopia---multi-tier-framework--mtf--survey--2018-), [Cambodia - Multi-Tier Framework (MTF) Survey](https://energydata.info/dataset/cambodia-multi-tier-framework-mtf-survey-2018) and [Rwanda - Mult

[2019-01-10 14:00] jodiegardiner commented on #259
This is definitely a bug. I will address asap.

[2019-01-10 14:03] jodiegardiner commented on #257
Fixed. And deployed to production.

Please confirm and close if happy.

[2019-01-10 14:04] jodiegardiner commented on #252
It now does!  @shandaoz @TigranParvanyan @JemiTheKey

Can tweak it further but behold!  4 whole seconds!

[2019-01-10 14:06] jodiegardiner commented on #234
This is long since delivered. Please use new tickets for reporting bugs or issues or feature requests.

[2019-01-10 14:06] #234 closed, assigned to jodiegardiner

[2019-01-10 14:22] shandaoz commented on #259
That would be much appreciated!
ENERGYDATA received an email from an user this morning who claim that their recent data file uploads disappear about a couple of days, and are reverted back to the 'last update date" of November 14, 2018.
https://energydata.info/dataset/esmap-solar-measurements-in-vietnam

The user also asks if they could upload the data files to a (S)FTP server or at least being ab

[2019-01-10 14:38] shandaoz commented on #259
I fear there are more datasets that may have lost files or had changes reverted since December. Would there be a way to track down these datasets?

[2019-01-10 14:49] shandaoz commented on #257
Production site does not allow me to create a comment and denies access when responding to a comment.
![error](https://user-images.githubusercontent.com/36420556/50976021-f185dd80-14bc-11e9-9581-99a5e5467507.PNG)
![access denied](https://user-images.githubusercontent.com/36420556/50976023-f3e83780-14bc-11e9-8404-95d1a3731a6d.PNG)

[2019-01-10 15:00] jodiegardiner commented on #257
:'(  Works for me.  See inbox for notifications.

<img width="1028" alt="screenshot 2019-01-10 at 15 00 15" src="https://user-images.githubusercontent.com/21362845/50976682-7afed500-14e8-11e9-964b-fcf69e9b95ae.png">

[2019-01-10 20:03] shandaoz commented on #257
It now works!

[2019-01-10 20:03] #257 closed, assigned to jodiegardiner

[2019-01-14 10:30] jodiegardiner commented on #252
Pushed production on Fri

[2019-01-14 10:30] #252 closed, assigned to jodiegardiner

[2019-01-14 11:58] jodiegardiner commented on #259
Hi Shandao,

I spent a lot of time looking at this, specifically the reason behind several updates showing on a single day for a single dataset.  I have identified the cause (there is a short loop executing when a resource update triggers.  This is starting a process off which then updates the resource and then triggers another activity stream notification). This is in-hand and a fix for this shou

[2019-01-14 14:23] shandaoz commented on #259
Hi Jodie,

Thanks for looking into this! For the a lot of the over ridden data on ENERGYDATA, their data contributors are from outside of the bank. Where can we see the emails of all members under World Bank Organization, so we can notify them and have them update the data on DDH?

[2019-01-14 14:28] shandaoz opened #260 "Link to ENERGYDATA leads to 404 error page"
If you copy-paste the following link in your browser https://energydata.info/api/action/datastore_search?resource_id=c412ca57-bbc8-4a57-9793-3e9a9d330fe6 (clicking on it does not work) you will find a long text that a WB tool, the Global Wind Atlas, uses to obtain data from energydata.info. However, there seems to be a corrupt link, leading to a 404 error page on energydata.info. The link obtained

[2019-01-15 16:38] jodiegardiner opened #261 "Inform admin on dataset update"

[2019-01-18 20:43] jodiegardiner opened #262 "Sort by Relevance by default, not Name"
...

[2019-01-18 20:43] jodiegardiner commented on #262
Fixed on staging, pulling to prod.

[2019-01-18 20:45] #262 closed, assigned to jodiegardiner

[2019-01-22 15:12] shandaoz opened #263 "Archive for Superseded Datasets"
The Afghanistan – Annual Average Wind Speed Data is featured as one of the most liked datasets on the homepage. However, it is long superseded by another dataset and is highly misleading for users. We have many more superseded datasets and we would like to revisit our earlier discussions on creating an archive or developing a way to label such datasets. Ideally, the archive would hide the outdated

[2019-01-22 15:39] jodiegardiner commented on #263
It sounds like superseded data should be removed if avoiding confusion is the goal.  If we don’t want anyone to see it, then it shouldn’t be able to be seen!  CKAN has a way to do this already, of course.  What do you think?

[2019-01-22 15:46] shandaoz commented on #263
The team wants to keep the superseded data on the platform to show transparency and that we are making improvements to datasets on ENERGYDATA. That is why we want a archive to put all the superseded data, to not mislead our users with the most recent data.

[2019-01-22 16:01] jodiegardiner commented on #263
Ok, we can do that.  Let me have a talk with the team about the best approach.

[2019-01-22 16:18] #132 closed

[2019-01-22 16:21] jodiegardiner commented on #244
With the timeline shaping up as it is for the new version of the site, we will roll this feature in with that.

[2019-01-22 16:21] #244 closed, assigned to jodiegardiner

[2019-01-22 16:30] jodiegardiner commented on #185
![number](https://user-images.githubusercontent.com/36420556/48571816-d12f0d80-e8d5-11e8-8a4d-883925823442.PNG)

[2019-01-22 16:30] jodiegardiner commented on #185
Regions and Countries currently behave differently it seems. Will limit to max 4.

[2019-01-22 16:31] jodiegardiner commented on #185
Fixed on staging. Pull to prod out of hours.

[2019-01-22 16:31] #185 closed

[2019-01-22 16:32] shandaoz commented on #185
Great!

[2019-01-23 09:38] jodiegardiner commented on #185
successfully pulled last night.

[2019-01-23 14:20] shandaoz commented on #185
Looks good! Thanks Jodie!

[2019-01-31 19:06] jodiegardiner commented on #260
Resolved this a while ago.  Discovered in the process there are a few more that are also broken.

[2019-01-31 19:31] jodiegardiner opened #264 "MVT extension tile processor broken"
Creating this ticket after the fact.

The MVT extension takes uploaded geojson resources, breaks them into manifold tile files then uploads them to Amazon S3 where they are called when a resource preview is viewed.  This process silently failed and had been broken for some time before I noticed it.  This meant that newly uploaded geojson files were not properly previewing and updated geojson resou

[2019-01-31 19:32] jodiegardiner commented on #264
I fixed this and deployed it in early Jan but missed creating a ticket here.

[2019-01-31 19:32] #264 closed, assigned to jodiegardiner

[2019-01-31 19:53] jodiegardiner commented on #46
As part of the work on the front page map for the new site version, I did some work on this issue  - although we currently still only find the resources specifically identified in the countries vocab during a search. There's a bit more development work to do to get this to do what we want.

[2019-02-04 15:05] shandaoz opened #265 "Harvested Author field indicates World Bank Group rather than the Author name"
![harvested dataset](https://user-images.githubusercontent.com/36420556/52216496-55a18480-2864-11e9-9f72-c2675bb832bf.PNG)

[2019-02-04 15:19] jodiegardiner commented on #265
I'll check to see what comes out of DDH in the author field currently.

[2019-02-04 15:20] jodiegardiner commented on #263
Following on from email describing process, green light to develop this feature.

[2019-02-19 20:17] shandaoz opened #266 "Home page search bar works differently from the search bar on datasets page"
Input in home page search bar and "Datasets" search bar show different results. It appears that if a search is inputted from the home page, the results are not ordered based on "relevance", even though it is labeled so.
 Search results from the homepage:
![11111](https://user-images.githubusercontent.com/36420556/53044482-2476a600-3459-11e9-903e-6d43706f3479.PNG)
 Search results from the datasets

[2019-02-21 11:15] jodiegardiner opened #267 "Enhance harvester script"
Need to add a new schema item for "eex_user_origin".

DDH will only harvest datasets with this field set to True.

EEX will only harvest datasets with this field set to False.

[2019-02-21 14:53] jodiegardiner commented on #261
notification on create done, update coming next

[2019-02-21 14:59] jodiegardiner commented on #261
There are several triggers for a "package update" call so I suspect that one will be quite spammy but we will see. If it is a deluge of emails I can tweak it.

[2019-02-21 15:52] jodiegardiner commented on #266
Ugh, yes this is horrible isn't it?  It's a known issue in core ckan - sorting is not passed to the search results when the origin is not the dataset search bar.

I have fixed it on staging now and will deploy to prod OOH.

[2019-02-21 15:52] #266 closed, assigned to jodiegardiner

[2019-02-21 15:54] jodiegardiner commented on #265
Our harvester DID overwrite this for some datasets as you can see but going forward it will not.  These will need to be manually corrected, or at least correct values collated into a spreadsheet I can parse.

[2019-02-21 15:54] #265 closed, assigned to jodiegardiner

[2019-02-21 15:54] jodiegardiner commented on #261
All done and ready to go on staging. Sending demo emails later but will then turn off this feature from staging so as to avoid spam.

[2019-02-21 15:54] #261 closed, assigned to jodiegardiner

[2019-02-21 16:25] jodiegardiner opened #268 "Search results are odd"
Search terms all seem to be weighted equally leading to unexpected results.

[2019-02-24 20:09] jodiegardiner commented on #236
FIxed and deployed to prod

[2019-02-24 20:09] #236 closed, assigned to jodiegardiner

[2019-02-24 20:17] jodiegardiner opened #269 "Org page"
Remove search bar, breadcrumb and total orgs stats from org homepage.

[2019-02-24 20:17] jodiegardiner commented on #269
DOne and pushed to prod

[2019-02-24 20:17] #269 closed, assigned to jodiegardiner

[2019-02-28 15:26] jodiegardiner commented on #267
i have added that schema field, so the DDH harvester will know what datasets to collect.

[2019-02-28 15:26] #267 closed, assigned to jodiegardiner

[2019-03-04 10:35] jodiegardiner commented on #259
Hi Shandao,

That info can be found in the database of course, that seemed the easiest way to get at it quickly.

Here is the output for all users who are part of the World Bank Org in CKAN:

Albertine Potter van Loon vpottervanloon@worldbank.org
Christopher Arderne carderne@worldbank.org
christian-peratsakis-207 christian.peratsakis@socrata.com
Clara Ivanescu civanescu@worldbank.org
Roman Affolte

[2019-03-04 10:35] #259 closed, assigned to jodiegardiner

[2019-03-05 17:55] shandaoz opened #270 "Broken/strange cover images for applications and missing thumbnail icons"
- Cover images on the ["Apps"](https://energydata.info/apps) page are either broken, distorted or blurred.
- [Thumbnail icons](https://energydata.info/dataset/myanmar-cities-and-town-location-with-population) for data files are missing
![image](https://user-images.githubusercontent.com/36420556/53826071-c0b6a780-3f45-11e9-914b-1e03c5943f7d.png)
![image](https://user-images.githubusercontent.com/36

[2019-03-06 17:39] jodiegardiner commented on #270
investigating this one now. I suspect the images have become corrupted somehow.  This happened several months ago so this time rather than just fixing it by uploading replacements, I'll endeavour to see what the cause might be to prevent it occurring again in the future.

[2019-03-07 14:58] jodiegardiner commented on #270
this is fixed now

[2019-03-07 14:58] #270 closed, assigned to jodiegardiner

[2019-03-18 21:08] shandaoz opened #271 "Clear multiple tag/search selections"
Currently, when users trying to clear multiple tag selections, they have to un-select the selection results individually. We would like to have a button that clears all the selections.
![Clear](https://user-images.githubusercontent.com/36420556/54563697-41db5900-49a0-11e9-89e1-c82b24db80cc.PNG)

[2019-04-02 12:25] jodiegardiner commented on #271
I have added a clear all button when there are filters applied.  Testable on staging.

[2019-04-02 12:25] jodiegardiner commented on #263
This is rdy to go to production

[2019-04-02 12:25] #263 closed, assigned to jodiegardiner

[2019-04-02 12:26] jodiegardiner commented on #260
This is resolved now.

[2019-04-02 12:26] #260 closed, assigned to jodiegardiner

[2019-04-11 14:43] shandaoz opened #272 "Cannot select and compare multiple tags in the same section"
When you select a country from the "Countries" side bar, your next pool of countries selection is reduce to datasets with overlapping countries with your first selected country (examples are included below). Users should not be restricted to select and compare various countries.

![s1](https://user-images.githubusercontent.com/36420556/55966563-a5c30b80-5c46-11e9-87cf-a44c9a74d58a.PNG)
![s2](https

[2019-04-15 14:07] shandaoz opened #273 "Harvester not working"
It seems that the ENERGYDATA harvester has stopped working. I merged 4 datasets into one dataset on DDH last Thursday (April 11), but these changes were not reflected on ENERGYDATA.[ I merged Pakistan - Biomass Industrial, Pakistan - Biomass Field Survey and Pakistan - Biomass Feedstock Crop Yield, into Pakistan - Biomass GIS Atlas](https://energydata.info/dataset?q=pakistan+biomass), which is now

[2019-04-16 00:08] jodiegardiner commented on #273
Hi Shandao.

Does this new dataset have the correct tag that tells our harvester to get it?  The harvester is running like it should.

The tag in question is:
[field_tags]=1437

[2019-04-16 00:12] jodiegardiner commented on #272
Hi Shandao. This will be major development as it is absolutely not how filters are supposed to work.  Filters are meant to narrow search results.  Essentially, this is a new feature and will take me some time as I will have to rewrite a significant part of CKAN's code.

I'd say this is about a day of work to implement. I will update the ticket once it is done, but it will almost certainly not be t

[2019-04-16 13:29] shandaoz commented on #272
Hi Jodie. I see. Somehow I thought it originally worked like that. Since we addressed this feature in our Progress Update Response document last week. I will close this thread.

[2019-04-16 13:29] #272 closed, assigned to jodiegardiner

[2019-04-16 14:30] shandaoz commented on #273
Hi Jodie,

Strangely enough, the Pakistan – Biomass Mapping dataset on DDH is correctly tagged.
![image](https://user-images.githubusercontent.com/36420556/56218020-39734e00-6032-11e9-9989-f3240ca12177.png)
For the other 3 datasets that were unpublished on DDH, the harvester should have removed them on ENERGYDATA, but it did not.

Would this issue possibly be on DDH's side?

[2019-04-16 18:05] jodiegardiner commented on #273
Hi Shandao,

I've conducted a wee bit of an investigation on this one today and have identified and fixed the problem. The issue was in my script and a badly formatted date was breaking the importer for that dataset.

You can check here:
https://energydata.info/dataset/pakistan-biomass-mapping

If you're happy please close the ticket.

I should add that our harvester does not delete datasets. It's

[2019-04-16 18:41] shandaoz commented on #273
Hi Jodie,

Thanks so much for looking into this! It's good to know that datasets will not be deleted. I will deactivate them instead.

I will close this ticket, but on a side note,  ENERGYDATA has not been receiving updates for two weeks. Is this feature under development?

[2019-04-16 18:41] #273 closed, assigned to jodiegardiner

[2019-04-16 18:57] shandaoz opened #274 "Unpublishing datasets/ adding an unpublish button"
For published/approved datasets on the production site, I cannot unpublish datasets because the metadata field "State" is missing. It would be great to have an "unpublish" button rather than labeling the datasets for revision and raise confusions in the approval process.
staging:
![image](https://user-images.githubusercontent.com/36420556/56236623-10fe4a80-6058-11e9-915c-7bce9d3ec2bb.png)
producti

[2019-04-16 19:15] jodiegardiner commented on #274
Hey  Shandao,

Deleting it or making it private isn't enough? What does "unpublish" mean in this context?

[2019-04-16 19:17] shandaoz commented on #274
Making it private (unpublish) would do, but how can I make a dataset private on ENERGYDATA?

[2019-04-25 09:46] #271 closed, assigned to jodiegardiner

[2019-04-25 13:51] jodiegardiner opened #275 "Task List - Ongoing"
Here is a list of outstanding tasks to do with the site redesign and further features.

Current task list:

- [x] Remove the white space at the bottom of the page for the homepage to look consistent on various monitors.  
- [x] Modify the interactive map to perform like the Rise Map: 1) clickable countries to access datasets 2) pop-ups should not block the underneath and surrounding countries.
- [

[2019-04-25 16:07] jodiegardiner commented on #274
Hey @shandaoz.  My colleague Swaroop has added this feature to staging. When you create or edit a dataset you can now set it as Private or Public (default is Public). This gives you a way to soft delete datasets (hide them from everyone without admin/editor access).  Effectively this is an "unpublish" feature.

If you are happy with it as it is, we can pull it to production shortly.

[2019-04-29 15:04] shandaoz commented on #274
Hi Jodie! The Private setting works perfectly! Please push this to production.

I understand that the platform is still under development and we are switching things around, but the static footer banner is half blocking selection buttons such as "Publish" and "Delete".

[2019-04-29 15:05] shandaoz opened #276 "Unable to sign in on Staging"
The staging site does not allow me to sign back in as Editor/Administrator.
![image](https://user-images.githubusercontent.com/36420556/56905638-93cad080-6a6e-11e9-8bd0-a25cebb75fc7.png)

[2019-04-29 18:28] jodiegardiner commented on #276
Hi @shandaoz

I wiped the staging database today and replaced it with a copy from production (which happens every so often).

Could this be to blame?  If you have a test_account different to your admin one, you could create that on production too so that it will be copied over the next time I wipe staging.

If that is not what the problem is, get back to me and I'll investigate asap.

[2019-04-29 18:32] shandaoz commented on #276
Hi Jodie,
The 404 Not Found Page appears the moment I click Login/Join. I did not have a chance to login in with my accounts :(

[2019-04-29 19:16] shandaoz opened #277 "Metadata form instructions and adjustments"
1. Add instructions for the title naming convention: "Country - Subject"(Example: Algeria - Power Plants) under metadata field, **Title**. Is it me or did we used to have the naming convention instructions underneath.
![image](https://user-images.githubusercontent.com/36420556/56920659-cfc35d00-6a91-11e9-9bac-b3dbfae44a6d.png)
2. Add asterisk next to metadata field: **Author Email**
![image](https

[2019-04-30 09:39] jodiegardiner commented on #276
Hi @shandaoz

This is fixed now. You can once again login via the link in the menu.

[2019-04-30 09:39] #276 closed, assigned to jodiegardiner

[2019-05-01 15:20] shandaoz opened #278 "Number of Views not Updated"
The number of views for datasets and organization are not updated.
We have been clicking on the dataset below multiple times, but the number of views did not change.
![image](https://user-images.githubusercontent.com/36420556/57024607-01a80100-6c03-11e9-952d-df50b0ef5b96.png)

[2019-05-01 15:47] shandaoz opened #279 "Comment Response Titles and User Details"
1. Have "ENERGYDATA" as the title for comment responses
![image](https://user-images.githubusercontent.com/36420556/57025640-bf33f380-6c05-11e9-992d-cd8eb01beec9.png)

2. When visitor submit a comment, also ask for optional User information including: 1. Name 2. Organization 3. contact email

[2019-05-02 14:45] jodiegardiner commented on #275
- [x] Make logo bigger
- [x] Make the logo vertically centred aligned
- [x] Menu aligned vertically and horizontally
- [x] Icons split into columns
- [x] Make Most Viewed same as Recently Added - Blue header, bold, white text, all caps.
- [x] Remove "View App" from carousel
- [x] Energydata team to send content for Recently Added section
- [x] move carousel dots up
- [x] make map show less antarct

[2019-05-02 15:43] jodiegardiner commented on #278
Just to update this - these numbers are being retained, they are just not yet making it to the UI yet.  No data has been lost.

[2019-05-02 15:52] shandaoz commented on #278
Good to hear! When will the numbers be updated on the platform?

[2019-05-08 21:57] jodiegardiner commented on #275
- [x] Connect to newly provided map layer from Bruno
- [x] Change layer colour to baby blue.
- [x] Stack the “feature” and “most viewed dataset” box on top of each other. Both boxes will be rotational and feature up to 3 slides. The Most Viewed box wil feature the top 3 datasets. We will provide you with images for the boxes.
- [x] Create some space/a banner for a map title:”Explore data by countr

[2019-05-09 11:40] jodiegardiner opened #280 "Resources not being imported to staging by script"
EEX > DDH harvester waiting on this issue to proceed with further testing.

[2019-05-09 13:18] jodiegardiner opened #281 "Nginx vulnerability"
" Description
According to its Server response header, the installed version of nginx is 1.x prior to 1.14.1 or 1.15.x prior to 1.15.6. It is, therefore, affected by the following issues :

- An unspecified error exists related to the module 'ngx_http_v2_module' that allows excessive memory usage.

(CVE-2016-16843)

- An unspecified error exists related to the module 'ngx_http_v2_module' that allo

[2019-05-13 11:29] jodiegardiner commented on #275
Color wheel suggestion from Adobe:

![Screenshot 2019-05-13 at 12 27 08](https://user-images.githubusercontent.com/21362845/57618236-c69abb80-757a-11e9-828f-13393bc69b7e.png)

"Energydata Blue" on the left with suggested complimentary colors.  I used the second color for the icon bar on the new homepage.

[2019-05-14 13:12] jodiegardiner commented on #274
This feature is live now

[2019-05-14 13:12] #274 closed, assigned to jodiegardiner

[2019-05-14 13:12] jodiegardiner commented on #278
This is updating as expected now.

[2019-05-21 18:45] shandaoz commented on #278
The number of views are not up-to-date. I noticed the number has stayed 48 for a couple of days so I gave the dataset a couple of clicks yesterday. Today the number remains the same as yesterday.
![may20](https://user-images.githubusercontent.com/36420556/58121555-b36c9900-7bd5-11e9-8bfd-aac7cca32dc8.PNG)

[2019-05-21 21:17] jodiegardiner commented on #278
Ugh, the process is completing as expected and is notifying me but I can see an error in the ckan logs. I'll fix it now and redeploy.

[2019-05-22 16:59] furnlound opened #282 "SSL Verification fails when linked from data.worldbank.org"
Hi!
I came across this site when applying for an STC position. Very interesting stuff here!

I noticed that when being directed to the portal from data.worldbank.org (e.g. [here](https://data.worldbank.org/topic/energy-and-mining#energyextractivesopendataplatform) ), you get a browser warning for ssl verification error. The problem is that the link is to [databox.worlbank.org](https://databox.worl

[2019-05-30 15:42] jodiegardiner commented on #282
@shandaoz

I believe the best solution for this is to have the data.worldbank.org links point to Energydata.info instead.  Not sure if that is Tim's team?

[2019-05-30 15:43] jodiegardiner commented on #278
This process now runs daily

[2019-05-30 15:43] #278 closed, assigned to jodiegardiner

[2019-05-31 12:40] jodiegardiner commented on #277
This has been implemented and is live on production.  Author email is no mandatory and there is now help text to advise on our naming convention.

https://energydata.info/dataset/new

[2019-05-31 12:40] #277 closed, assigned to jodiegardiner

[2019-05-31 12:51] jodiegardiner commented on #281
Nginx has been patched to the latest version.

[2019-05-31 12:51] #281 closed, assigned to jodiegardiner

[2019-06-04 19:43] shandaoz opened #283 "URGENT: Broken Most Viewed Datasets Links"
![image](https://user-images.githubusercontent.com/36420556/58908741-61506b00-86df-11e9-8b00-653494bea79b.png)
 4 links on the homepage leads to Error 404s

[2019-06-04 19:44] shandaoz commented on #282
@furnlound Thanks for reporting this issue! The links have now been fixed.

[2019-06-04 19:44] #282 closed, assigned to nobody

[2019-06-05 13:33] shandaoz commented on #283
@jodiegardiner

[2019-06-05 15:59] jodiegardiner commented on #283
On an initial look, it seems someone or some process has changed a bunch of titles and that's broken the connection to the views database.

When I know more, you will.

[2019-06-05 16:00] jodiegardiner commented on #283
For example, the previous url for Pakistan Solar data was:
https://energydata.info/dataset/pakistan-solar-measurement-wbg-esmap
There is an entry for this in the views table for this dataset.

There is no entry in the views table for:
https://energydata.info/dataset/pakistan-solar-radiation-measurement-data-2014-2017
So it says 0 views.

[2019-06-05 16:03] jodiegardiner commented on #280
This is done now.

[2019-06-05 16:03] #280 closed, assigned to jodiegardiner

[2019-06-05 17:18] shandaoz commented on #283
That's odd. From the activity stream it only shows that it has not been touched by editors, but a bunch of Derilinx updates.

[2019-06-05 19:23] jodiegardiner commented on #283
Yeah, it has come from the harvester.  So it has identified "updated" datasets by the last_modified date then updated production with the changes. So the names look to have been changed on DDH perhaps? I can fix this with a bit of manual work, and using the immutable identifier "id" instead of "name" in the views table.

[2019-06-06 10:17] jodiegardiner commented on #283
Hi Shandao.  There are no longer any broken links in the Most Viewed box.  It's not 100% right yet as you can see if you click through to a dataset and see the views numbers there but it's significant progress.  I'm still working on an answer for what exactly happened.

[2019-06-06 13:26] shandaoz commented on #283
Thanks Jodie!
One more thing: the titles of the datasets on the right are cut off. I know some of them have long titles, but the ones on the left are all displayed. Can the title displays be made consistent?
![image](https://user-images.githubusercontent.com/36420556/59036352-18162d80-883d-11e9-935b-b005d33aafd4.png)

[2019-06-10 13:53] #283 closed, assigned to jodiegardiner

[2019-07-02 19:40] shandaoz opened #284 "Establish API connection with a NRGI Dataset"
[The EITI data](https://www.resourcedata.org/dataset/eiti-complete-summary-table) has regular updates at least a dozen times a year. NRGI requests to establish an automatic data feed via a CKAN formatted API from ResourceData.org to ENERGYDATA.

[2019-07-12 15:11] hy347mc opened #285 "Numbers of likes are missing on the homepage popular datasets section"
Homepage Popular datasets:
1. Numbers of likes are missing.
2. "Most viewed data" and "most liked" should be in the same row.
3. Centralize the "eye" icon.
<img width="1050" alt="Screen Shot 2019-07-12 at 10 54 30 AM" src="https://user-images.githubusercontent.com/34387745/61138479-977aca80-a495-11e9-8247-d09beba65730.png">

[2019-07-12 15:16] jodiegardiner commented on #285
Unexpected...  investigating now.

[2019-07-19 12:28] shandaoz opened #286 "DDH Harvested Dataset Missing"
The dataset “[China - Energy Saving Management Action Plan for Liaoning Safe & Sustainable Urban Water Supply Project](https://datacatalog.worldbank.org/dataset/china-energy-saving-management-action-plan-liaoning-safe-sustainable-urban-water-supply)” was published in June 11, but has not yet been harvested to ENERGYDATA. It is a public dataset with the ENEGRYDATA tag.

On first inspection, I can s

[2019-07-24 10:49] jodiegardiner commented on #285
Fixed now.

[2019-07-24 10:50] jodiegardiner commented on #284
I have reached out to Tommy last week to ask which datasets he wishes to be harvested.  The infrastructure is in place.

[2019-07-24 13:57] jodiegardiner commented on #285
Just noticed the other parts about alignment of icons. Doing that now...

[2019-07-24 14:02] shandaoz commented on #284
The dataset NRGI wants to connect is [EITI Complete Summary Data Table](https://www.resourcedata.org/dataset/eiti-complete-summary-table)

[2019-07-24 14:02] jodiegardiner commented on #286
Hi Shandao,

I've figured this one out eventually!

The cause is a syntax error that is impossible to amend on our side.  Check the "field_external_metadata" of these two packages on DDH:

https://datacatalog.worldbank.org/api/3/action/package_show?id=28601562-61b6-43ef-8b46-be8c1593b1da

https://datacatalog.worldbank.org/api/3/action/package_show?id=a78df6c4-aef8-4321-86cf-f663bd3681b4

In the fi

[2019-07-24 14:03] jodiegardiner commented on #284
Oh, fantastic, I'll get that sorted then.

[2019-07-24 14:07] shandaoz commented on #286
Awesome! Thanks Jodie! I will communicate this with Tim and the team.

[2019-07-24 14:10] jodiegardiner commented on #285
OK, that's fixed now too.

[2019-07-24 14:10] #285 closed, assigned to jodiegardiner

[2019-07-24 14:15] shandaoz commented on #285
woo hoo!

[2019-07-29 14:31] jodiegardiner commented on #286
That dataset has been harvested now  - it lives here:

https://energydata.info/dataset/na-energy-saving-management-action-plan-for-liaoning-safe-and-sustainable-urban-water-supply-project

[2019-07-29 14:31] #286 closed, assigned to jodiegardiner

[2019-08-19 14:13] hy347mc opened #287 "editor cannot upload the dataset"
Editor of the Enerdata (a new organization) couldn't upload their datasets: each time after clicking on the "add data" button, they will get an empty white page. They are using Chrome.

[2019-08-20 11:44] deirdrelee opened #288 "Zambia wind measurement data - broken link"
https://energydata.info/dataset/zambia-wind-measurement-data

"Unfortunately, all links on the energydata.info webpage (https://energydata.info/dataset/zambia-wind-measurement-data) do not lead to any data / info, but only to the “404 Not found” page."

[2019-08-20 13:50] hy347mc opened #289 "3E asked about update on the API issue"
David from 3E had questions about the API, below is quoted from David:

When I try to update files using the API with the python script provided, three problems occur:
•	A new file is created instead of updating the existing file with the same name;
•	The file itself is not available for download;
•	The file format and update date are unknown.

Some screenshots to clarify:
<image004.png>

The resp

[2019-08-20 13:57] hy347mc opened #290 "Pakistan - wind measurement Data dataset were breaking"
DDH was running our harvester in STG, and noticed that the resources for the [Pakistan - Wind Measurement Data](https://energydata.info/api/3/action/package_show?id=520eb754-84de-45fb-8d2c-7b2eaa2f7b6e) dataset were breaking (i.e leading to 404 pages).

DDH also noticed that under the url_type field datacatalog links were present, not sure why though since this dataset is appearing in the [eex_use

[2019-08-20 14:01] hy347mc opened #291 "the resource ids on the energy platform are changing"
On the topic of resources DDH noticed another issue, it seems that the resource ids on the energy platform are changing. This is an issue because on updating datasets, DDH's harvester uses the resource ids to classify new and old resources. If the harvester is updating an outdated DDH dataset, and the outdated dataset’s resource ids aren’t present in the newer EEX dataset version, then the harvest

[2019-08-20 14:18] hy347mc opened #292 "Cannot download on PNG - wind measurement data"
the download function for any document on this [webpage](https://energydata.info/dataset/png-wind-measurement-data) is not working

[2019-08-20 14:29] hy347mc opened #293 "solar measurement datasets for Lebanon and Nepal are not linked to Global Solar Atlas"
the solar measurement datasets for [Lebanon](https://energydata.info/dataset/lebanon-solar-radiation-measurements) and [Nepal](https://energydata.info/dataset/nepal-solar-measurement-wbg-esmap), they are not linked to the Global Solar Atlas

[2019-08-20 14:30] hy347mc opened #294 "wind measurement data for Ethiopia and Nepal is not included in Global Wind Altas measurement station layer"
The wind measurement data for [Ethiopia](https://energydata.info/dataset/ethiopia-wind-measurement-data) and [Nepal](https://energydata.info/dataset/nepal-wind-measurement-data) is not included in the Global Wind Atlas measurement station layer. Can you update the data storage behind the api? Link: https://energydata.info/api/action/datastore_search?resource_id=c412ca57-bbc8-4a57-9793-3e9a9d330fe6

[2019-08-20 14:44] hy347mc opened #295 "Post Production Vulnerabilities Remediation Nginx Outdated Version Detected #ACN-2019-15261"
Risk Factor:    High
**nginx   1.x < 1.14.1 / 1.15.x < 1.15.6 Multiple Vulnerabilities
Synopsis** The   remote web server is affected by multiple vulnerabilities.

**Description**
According to its Server   response header, the installed version of nginx is 1.x prior to 1.14.1 or   1.15.x prior to 1.15.6. It is, therefore, affected by the following issues :
-   An unspecified error exists related t

[2019-08-22 15:44] hy347mc commented on #291
DDH ran a local script to compare all the resources they have harvested from the ENERGYDATA.INFO to the resources currently in the portal. Please kindly find the spreadsheet as a reference.

[eex_ddh_inventory_for_derilinx.xlsx](https://github.com/energy-data/energydata.info/files/3530895/eex_ddh_inventory_for_derilinx.xlsx)

[2019-08-22 15:59] hy347mc opened #296 "Request to add this app on the ENERGYDATA.INFO App page"
The new partner/organization, Enerdata, requested to add their app on our ENERGYDATA.INFO App page. Please find the link, description, and screenshot attached here.

**Link**: https://yearbook.enerdata.net
**Description**: Enerdata's Global Energy Statistical Yearbook gives access to  world data on the production, consumption and trade of oil, gas, coal, power and renewable energies, as well as CO

[2019-08-22 16:11] hy347mc opened #297 "incorrect mast coordinates in Vietnam"
the current coordinates on ENERGYDATA.INFO for the windmasts in Vietnam are off (some by 300km). Attached is the correct coordinates. Please update the ENERGYDATA.INFO [page](https://energydata.info/api/action/datastore_search?resource_id=c412ca57-bbc8-4a57-9793-3e9a9d330fe6) from which the coordinates are read by other maps.

[GWA3.0 - Validation - Vietnam - Mast coordinates - Geo WGS84.xlsx](htt

[2019-08-23 15:49] Taabu commented on #297
Fixed on staging, will push it to production on Monday once Jodie is back.

[2019-08-26 14:03] ss-bhat commented on #295
Updated nginx.

[code]

[2019-08-26 15:13] ss-bhat commented on #290
Updated the dataset in staging:

https://energydata.staging.derilinx.com/dataset/520eb754-84de-45fb-8d2c-7b2eaa2f7b6e

Could you please verify? Thanks

[2019-08-26 15:13] ss-bhat commented on #292
Updated the dataset in staging -

https://energydata.staging.derilinx.com/dataset/png-wind-measurement-data

All the resources are downloadable. Could you please verify this? Thanks

[2019-08-26 15:22] #295 closed, assigned to jodiegardiner

[2019-08-26 15:27] hy347mc commented on #292
Just verified that all the resources are downloadable now. Thanks!

[2019-08-26 15:36] hy347mc commented on #292
Hi, I can download all files through the link you shared with me, but I cannot download any files through this link https://energydata.info/dataset/png-wind-measurement-data

What's the difference?

Thanks!

[2019-08-26 16:45] ss-bhat commented on #288
Updated the dataset in staging:
https://energydata.staging.derilinx.com/dataset/zambia-wind-measurement-data

Thanks

[2019-08-26 17:06] hy347mc commented on #288
Hi, when this can be fixed after updating in staging? Seems that our users still receive the '404 not found' page. Thanks

[2019-08-26 17:07] deirdrelee commented on #288
If you approve these fixes on staging (i.e. if they look good to you), we will push the update to production.

[2019-08-26 17:12] hy347mc commented on #288
Hi Deirdre, thank you for your reply. Please push this update to production then. Thanks a lot!

[2019-08-26 17:13] hy347mc commented on #292
Hi there,

Verified that all the resources are downloadable. Could you please push this update to production? Thanks a lot!

[2019-08-26 17:14] hy347mc commented on #290
Hi there,
Verified. Could you please push this update to production? Thanks a lot!

[2019-08-27 10:29] ss-bhat commented on #292
Pushed to prod. All links should be working now.

Please let me know if you face any issues. Thanks

[2019-08-27 10:29] ss-bhat commented on #288
Pushed to prod. All links should be working now.

Please let me know if you face any issues. Thanks

[2019-08-27 10:29] ss-bhat commented on #290
Pushed to prod. All links should be working now.

Please let me know if you face any issues. Thanks

[2019-08-27 10:34] #290 closed, assigned to jodiegardiner

[2019-08-27 10:40] #288 closed, assigned to jodiegardiner

[2019-08-27 10:40] #292 closed, assigned to jodiegardiner

[2019-08-27 14:19] hy347mc commented on #290
Hi there, just verified and they are all working now. Thanks!

[2019-08-27 15:39] ss-bhat commented on #287
Fixed in the prod -

This bug was related to Unicode in request headers - cors_origin_allowed = u'*'. Unicodes are not allowed in response headers. This was affecting below mentioned areas

- Creating a new user account.
- Adding a member to the organization.
- Adding a new dataset.

Please let me know if you face any further issues.

Thanks

[2019-08-27 17:01] Taabu commented on #294
Data from Nepal and Ethiopia added to World - Wind Masts Inventory resource. will push to prod after tomorrow's call.

[2019-08-27 17:01] Taabu commented on #293
Data from Lebanon and Nepal added to World - Solar Stations Inventory resource. will push to prod after tomorrow's call.

[2019-08-27 18:35] hy347mc commented on #287
Hi there, thank you so much! Verified.

[2019-08-27 18:35] #287 closed, assigned to jodiegardiner

[2019-08-27 18:45] hy347mc opened #298 "broken link: Africa - electricity transmission and distribution grid map"
the link to Africa - electricity transmission and distribution grid map is broken

https://energydata.info/dataset/africa-electricity-transmission-and-distribution-grid-map-2017

[2019-08-28 10:35] Taabu commented on #297
We need to agree on a process of how this dataset is updated. If there are new/updated coordinates, should the data owner directly replace/update the dataset at https://energydata.info/dataset/world-wind-masts-inventory-2017, or should the data be shared with Derilinx to update the dataset? For tighter data governance, we recommend the data owner updates the dataset.
This is similar issues to #293

[2019-08-28 10:42] Taabu commented on #294
The Global Wind Atlas reads its data from this dataset: https://energydata.info/dataset/world-wind-masts-inventory-2017
The wind measurement datasets for Ethiopia and Nepal are not linked to the Global Wind Atlas, as they are not included in this amalgamated dataset. They are separately uploaded here:
https://energydata.info/dataset/ethiopia-wind-measurement-data
https://energydata.info/dataset/ne

[2019-08-28 10:46] Taabu commented on #293
The Global Solar index reads its data from this dataset: https://energydata.info/dataset/world-solar-stations-inventory-2017
The solar measurement datasets for Lebanon and Nepal are not linked to the Global Solar Atlas, as they are not included in this amalgamated dataset. They are separately uploaded here:
https://energydata.info/dataset/lebanon-solar-radiation-measurements
https://energydata.inf

[2019-08-28 14:34] ss-bhat commented on #291
@hy347mc

Yeah, those are from the ddh harvester - 36 datasets and their corresponding resources. We have fixed most of the resources and validating on if any of the resources are still broken.

[2019-08-29 14:35] hy347mc opened #299 "add: Mexico - Urban Performance/Metropolitan Profile Tool to ENERGYDATA App page"
Please add **Mexico - Urban Performance/Metropolitan Profile Tool** to ENERGYDATA App page

**link**: www.urbanperformance.in

**description**: Assess the impact of urban policies and projects in future energy consumption levels at city scale and their implications in social, economic, and environmental aspects.

**image of the interface**:
<img width="1440" alt="Urban Performance" src="https://us

[2019-08-29 15:40] deirdrelee opened #300 "GEP App: Migrate the GEP App in parallel with its launch"
The GEP App will be launched on 24th Sep and Dev Seed are working on final development and country additions.

In parallel, Derilinx will migrate the GEP App and run. When the GEP App is stable, we can migrate to Derilinx infrastructure.

[2019-09-02 10:20] jodiegardiner commented on #299
This app has now been added to the apps page.

[2019-09-02 10:20] #299 closed, assigned to jodiegardiner

[2019-09-02 10:20] jodiegardiner commented on #296
This app has now been added to the App page.

[2019-09-02 10:21] #296 closed, assigned to jodiegardiner

[2019-09-02 14:09] jodiegardiner commented on #291
We have fixed this issue.  Previously, we simply ran every dataset which came back on the sources list from DDH through the harvester but it appears ~36 datasets should not have been in that list. I will send an email to Alp (and cc stakeholders) with this information so he can make the change at the DDH end. At our end, we now validate more effectively which datasets originated from EEX and which

[2019-09-02 14:09] #291 closed, assigned to jodiegardiner

[2019-09-05 15:09] jodiegardiner opened #301 "3rd party update script issues"
One of the partners has a script which they run at regular intervals to update this dataset:

https://energydata.info/dataset/cd3f689a-7c04-4f7c-91c0-1037d033a872

The script is here:

[code]

When they currently run this script, everything appears to work, the response is correct. But the resource files are not available.

[2019-09-06 09:50] jodiegardiner opened #302 "Track number of downloads for datasets"
Use Google Analytics to track resource downloads as well as page views.

[2019-09-06 09:51] jodiegardiner opened #303 "Inconsistent naming for downloads"
Data download is currently either displayed as “Download” or “Go to resource”.  Unify the naming for download as Download.

[2019-09-06 09:52] jodiegardiner opened #304 "Organize the tags (countries, topics, etc.) by alphabetical order on facet list"
see title

[2019-09-06 09:54] jodiegardiner opened #305 "Grouping datasets"
We can add support for the Grouping feature with this one.

[2019-09-06 09:55] jodiegardiner opened #306 "Make organization boxes on the “Organizations” page the same size"
See title

[2019-09-06 09:57] jodiegardiner opened #307 "Big GeoJSON files cannot be visualized"

[2019-09-06 09:57] jodiegardiner opened #308 "Social Media Icons"
For the “Social” section of a dataset, replace the world ‘social’ with ‘Share’. List Email, Facebook, Twitter and LinkedIn along with their full colored icons.

[2019-09-06 09:58] jodiegardiner opened #309 "Replace Meta-Image"
Replace the image used for dataset sharing on social media with the ENERGYDATA logo

[2019-09-06 09:59] jodiegardiner opened #310 "Display of licensing information"
Find the most user-friendly way to display licensing information. (ex: whether it should be displayed in the metadata form or elsewhere on the page).

To discuss in call.

[2019-09-06 10:00] jodiegardiner opened #311 "Disable clickable file formats icons on ‘dataset’ page"
see title

[2019-09-06 10:00] jodiegardiner opened #312 "Remove the ‘Follow’ and ‘Followers’ feature on dataset pages"
see title

[2019-09-06 10:01] jodiegardiner opened #313 "Update email notifications on selected ‘topics’ for users"

[2019-09-06 10:05] jodiegardiner opened #314 "Change manual input of file formats to drop-down box for uploading data files"
Potential issue here: Dropdown will have to cover every  possible format. Not practical given the thousands of potential file formats?

Will discuss in call.

[2019-09-06 10:06] jodiegardiner commented on #57
duplicate of https://github.com/energy-data/energydata.info/issues/302

[2019-09-06 10:06] #57 closed

[2019-09-06 10:08] jodiegardiner opened #315 "Show Progress Bar for resource upload"
Whilst it displays in the status bar of most browsers, add a better Progress Bar to resource uploads to improve the UX for the site's administrators.

[2019-09-06 13:12] jodiegardiner commented on #289
dupe of #301

[2019-09-06 13:12] #289 closed, assigned to jodiegardiner

[2019-09-06 13:12] jodiegardiner commented on #301
see #289 for more info

[2019-09-06 15:30] deirdrelee opened #316 "Send Oliver summary of metric bounce improvements"
As per call today, Jodie to summarise what he did to improve bounce rate and send to oliver

[2019-09-09 14:43] hy347mc opened #317 "add an Admin on GitHub and Energydata platform"
I sent Ammara, our new project manager, an invitation to join the energy-data GitHub group as an Admin. But she didn't received any invitation or even a notice from her end. Did I do it wrong or something is still needed to be done from your end?

Similarly, I added her on the Energydata platform under the world bank group as an Admin. But she doesn't have the features that I, as an admin, have st

[2019-09-12 13:34] jodiegardiner commented on #317
Just saw this now Hong.

You could try sharing this link with Ammara:

https://github.com/energy-data/energydata.info/invitations

I can see a pending invitation for ashariq12. If that's Ammara then that link should be all she needs.

For the energydata platform, there are organisation admins and sysadmins. Org admins don't have the same privileges. Would you like me to add Ammara as a sysadmin?

[2019-09-12 13:49] hy347mc commented on #317
Hi Jodie,

No worries and thanks so much for letting me know! This is indeed very helpful. I will share this link to Ammara, and yes, could you please add Ammara as the sysadmin for the EnergyData platform? I saw Jemi, the previous project manager, is the sysadmin; so I think we should add Ammara as our sysadmin as well.

Thank you!